.root {
    -fx-font-size: 14.0px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

#anchor-pane {
	-fx-background-color: #f8f9fa;
}

#demographicPane {
 	-fx-padding: 10;
	-fx-border-color: black;
    -fx-background-color : white;
    -fx-border-width: 0 0 0 0;
	-fx-font-size : 12px;   
    
}

#operatorAuthenticationPane {
	-fx-background-color : white;
}

#virtualKeyboard {
	-fx-background-color: white;
	-fx-border-width:1 1 1 1;
	-fx-border-color: black;
	-fx-background-radius: 6,5;
}

#registrationAccordian.accordion .title > .arrow-button .arrow{
    -fx-translate-x: 750;
	-fx-shape: "M 10,150 L 70,10 L 130,150 z";    
}

#registrationAccordian.accordion > .titled-pane {
    -fx-padding: 0 0 0.5em 0;
}

#registrationAccordian.accordion > .titled-pane > .title{
    -fx-background-color : white;
    -fx-font-size:15px;
    -fx-font-weight:bold;
    -fx-border-color: #D3D3D3;
    -fx-border-width : 1 1 0 1;
}

#registrationAccordian.accordion >.titled-pane:collapsed > .title {	
 
 
    -fx-border-width : 1 1 1 1;
    -fx-border-color: black;
	

}

#doc_label{
	-fx-font-size:10px;
}

#toggleLabel1{
	-fx-background-color: grey;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}

#toggleLabel2{
	-fx-background-color: white;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}

#anchor-pane-registration .text-field {		
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-background-insets: 0,0 0 1 0;
  	-fx-border-width: 0 0 1 0;	
}	

#anchor-pane-registration{
	-fx-background-color: white;
}

#anchor-pane-registration .text-field:focused{
	-fx-border-color: red;
	-fx-background-insets: 0,0 0 2 0;
  	
}

#anchor-pane-registration .button{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}


#homeReg{
	-fx-font-size:15px;
}

#hbox {
	-fx-background-color: #ffffff;
}

#header-section {
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-border-width: 1.0;
    -fx-border-color: #dee2e6 transparent transparent transparent;
    -fx-background-color: #dee2e6;
}

.content {
    -fx-wrap-text: true;
    -fx-font-size: 16.0px;
}

#content-section {
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-wrap-text: true;
}

#content-header {
    -fx-font-size: 18.0px;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-border-width: 1.0;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
    -fx-background-color: #dee2e6;
}

#common-hbox{
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

#commonHeader {
    -fx-background-color: #d9d9d9;
}

#commonImage{
	-fx-background-color:#b3b3b3;
}

#headerImage{
	-fx-background-color:transparent;
}

#mainBox{
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

#optionLayout{
	-fx-background-color:#f2f2f2;
}

#registrationData{
	-fx-wrap-text: true;         
}
#userClientMachineMappingEditPane {
       -fx-background-color:#f2f2f2;
}            
#imageAnchorPane{
	 -fx-border-width: 1.0;
	-fx-border-color: black;
}

/* Device Onboarding */
.inputFields {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-background-insets: 0,0 0 1 0;
}

.inputFieldNoBorder {
  	-fx-border-width: 0 0 0 0;
}

.inputFieldBottomBorder {
  	-fx-border-width: 0 0 1 0;
}
#imageAnchorPane,#pendingActionImageAnchorPane,#fingerPrintAnchorPane,#fingerPrintScanAnchorPane{
	-fx-background-color:#ffffff;
	 -fx-border-width: 1.0;
	-fx-border-color: black;
}
#onHoldPane, #rejectionPane,#authenticationRoot,#fingerPrintScanRoot{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}
#onHoldLabelAnchorPane, #rejectionLabelPane,#authenticateRootPane{
	-fx-background-color:#808080;
}
#onHoldAnchorPane, #rejectionAnchorPane, #approveRegistrationRootSubPane,#authenticateRootSubPane,#fingerPrintCapturePane,#fingerPrintScanRootSubPane{
	-fx-background-color:#ffffff;
}
#pendingApprovalAnchorPane,#pendingActionAnchorPane,#approvalReportAnchorPane,#approveRegistrationRoot,#reRegisterAnchorPane{
	-fx-background-color:#ffffff;
	-fx-alignment: center ;
	-fx-padding: 0 0 0 0;
}
#onHoldComboBox, #rejectionComboBox, #deviceCmbBox{
	-fx-background-color:#ffffff;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
	-fx-font-size: 14px;
}
#submit, #rejectionSubmit,#submitBtn,#scanBtn,#nextBtn,#previousBtn{
	-fx-background-color:#ffffff; 
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#exitButton, #rejectionExit, #authExit,#authenticationExit,#fingerPrintScanExit{
	 -fx-border-color: transparent;
     -fx-padding: 4 0 4 0;
     -fx-text-fill: black;
}
#table,#pendingActionTable{
	-fx-text-fill: black;
    -fx-font-size: 14px;
}
#approvalAccordion .title > .arrow-button .arrow{
    -fx-translate-x: 870;
}
.titled-pane > .title 
{
  -fx-background-color: white;
  -fx-border-width: 1 1 1 1;
  -fx-border-color: #dcdcdc;
  -fx-font-weight: bold;
}
#pendingApprovalTitledPane,#pendingActionTitledPane,#approvalReportTitledPane,#reRegisterTitledPane{
	 -fx-background-color:#ffffff; 
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0.5em 0;
}
#table .scroll-bar:vertical > .increment-button,
#table .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#table .scroll-bar:horizontal > .increment-button,
#table .scroll-bar:horizontal > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#pendingActionTable .scroll-bar:vertical > .increment-button,
#pendingActionTable .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#pendingActionTable .scroll-bar:horizontal > .increment-button,
#pendingActionTable .scroll-bar:horizontal > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
} 
.toggle-button{
	-fx-background-color:#ffffff;
	-fx-background-radius: 6,5;
    -fx-background-insets: 0,1; 
    -fx-text-fill: black;
    -fx-font-size: 10px;   
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.toggle-button:selected{
    -fx-background-color: #a9a9a9;
     -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;
    -fx-text-fill: black;
    -fx-font-size: 10px;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#applicantImageHBox, #exceptionImageHBox {
	-fx-border-color: black;
	-fx-border-width: 2;
}
/* Registration - Biometric - Iris Capture */
#leftHandPalmPane,#rightHandPalmPane,#thumbPane,.irisImagePane {
	-fx-border-color: lightgrey;
}
#leftHandPalmPane:focused ,#rightHandPalmPane:focused ,#thumbPane:focused ,.irisImagePane:focused{
	-fx-border-color: black;
}

.scanScrollPane {
	-fx-background-color: white;
	-fx-border-width:0 0 0 0;
}

.scanVBox {
	-fx-background-color: white;
	-fx-border-width:0 0 0 0;
}

.headerPane {
	-fx-background-color:#808080;
}

.paneRoot {
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}

.subPane {
	-fx-background-color:#ffffff;
}

.buttonStyle {
	-fx-background-color:#ffffff; 
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-height: 28px;
    -fx-pref-width: 68px;
}

.imagePane {
	-fx-background-color:#ffffff;
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

.exit {
	-fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-text-fill: black;
}

#duplicateCheckLbl{
	-fx-text-fill: red;
	-fx-font-size: 12px;
}