.root {
    -fx-font-size: 14.0px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

#Detail{
 	-fx-padding: 10;
	-fx-border-color: black;
    -fx-background-color : white;
    -fx-border-width: 0 1 1 1;
    
}



#anchor-pane {
	-fx-background-color: #f8f9fa;
}

#virtualKeyboard {
	-fx-background-color: white;
}

.accordion .title > .arrow-button .arrow{
    -fx-translate-x: 750;
	-fx-shape: "M 10,150 L 70,10 L 130,150 z";    
    
}

.accordion > .titled-pane {
    -fx-padding: 0 0 0.5em 0;
}

.accordion > .titled-pane > .title{
    -fx-background-color : white;
    -fx-border-color: black;
    -fx-border-width : 1 1 0 1;
}

.accordion >.titled-pane:collapsed > .title
{
	
    -fx-border-width : 1 1 1 1;
    -fx-border-color: black;
    

}

#anchor-pane-registration .text-field {		
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-background-insets: 0,0 0 1 0;
  	-fx-border-width: 0 0 1 0;	
}	

#anchor-pane-registration{
	-fx-background-color: white;
	-fx-border-color: red;
	
}

#anchor-pane-registration .text-field:focused{
	-fx-border-color: red;
	-fx-background-insets: 0,0 0 2 0;
  	
}

#anchor-pane-registration .button{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}


#homeReg{
	-fx-font-size:15px;
}

#hbox {
	-fx-background-color: #ffffff;
}

#header-section {
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-border-width: 1.0;
    -fx-border-color: #dee2e6 transparent transparent transparent;
    -fx-background-color: #dee2e6;
}

.content {
    -fx-wrap-text: true;
    -fx-font-size: 16.0px;
}

#content-section {
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-wrap-text: true;
}

#content-header {
    -fx-font-size: 18.0px;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-border-width: 1.0;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
    -fx-background-color: #dee2e6;
}

#common-hbox{
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

#commonHeader {
    -fx-background-color: #d9d9d9;
}

#commonImage{
	-fx-background-color:#b3b3b3;
}

#headerImage{
	-fx-background-color:transparent;
}

#mainBox{
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

#optionLayout{
	-fx-background-color:#f2f2f2;
}

#registrationData{
	-fx-wrap-text: true;         
}
#userClientMachineMappingEditPane {
       -fx-background-color:#f2f2f2;
}            
#imageAnchorPane{
	 -fx-border-width: 1.0;
	-fx-border-color: black;
} 