.root {
    -fx-font-size: 14.0px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

#anchor-pane {
	-fx-background-color: #f8f9fa;
}

#demographicPane {
 	-fx-padding: 10;
	-fx-border-color: black;
    -fx-background-color : white;
    -fx-border-width: 0 0 0 0;
	-fx-font-size : 12px;   
    
}

#operatorAuthenticationPane {
	-fx-background-color : white;
}

#virtualKeyboard {
	-fx-background-color: white;
	-fx-border-width:1 1 1 1;
	-fx-border-color: black;
	-fx-background-radius: 6,5;
}

#registrationAccordian.accordion .title > .arrow-button .arrow{
    -fx-translate-x: 750;
	-fx-shape: "M 10,150 L 70,10 L 130,150 z";    
}

#registrationAccordian.accordion > .titled-pane {
    -fx-padding: 0 0 0.5em 0;
}

#registrationAccordian.accordion > .titled-pane > .title{
    -fx-background-color : white;
    -fx-font-size:15px;
    -fx-font-weight:bold;
    -fx-border-color: #D3D3D3;
    -fx-border-width : 1 1 0 1;
}

#registrationAccordian.accordion >.titled-pane:collapsed > .title {	
 
 
    -fx-border-width : 1 1 1 1;
    -fx-border-color: black;
	

}

#doc_label{
	-fx-font-size:10px;
}

#toggleLabel1{
	-fx-background-color: grey;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}

#toggleLabel2{
	-fx-background-color: white;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}
.biometricExceptionPane{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: white;
}
#anchor-pane-registration .text-field {		
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-background-insets: 0,0 0 1 0;
  	-fx-border-width: 0 0 1 0;	
}	
#anchor-pane-acknowledgement {
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 5;
	-fx-border-radius: 5;
	-fx-border-color: #A9A9A9;
}

#ackScreen > .viewport {
	-fx-background-color: white;
}

#ackScreen-anchor-pane{
	-fx-border-style: solid inside;
	-fx-border-width: 1;
	-fx-border-insets: 5;
	-fx-border-radius: 5;
	-fx-border-color: #A9A9A9;
}

#anchor-pane-registration{
	-fx-background-color: white;
}

#anchor-pane-registration .text-field:focused{
	-fx-border-color: red;
	-fx-background-insets: 0,0 0 2 0;
  	
}

#anchor-pane-registration .button {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

#anchor-pane-acknowledgement .button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold
}

#anchor-pane-acknowledgement .button:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#homeReg{
	-fx-font-size:15px;
}

#hbox {
	-fx-background-color: #ffffff;
}

#header-section {
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-border-width: 1.0;
    -fx-border-color: #dee2e6 transparent transparent transparent;
    -fx-background-color: #dee2e6;
}

.content {
    -fx-wrap-text: true;
    -fx-font-size: 16.0px;
}

#content-section {
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-wrap-text: true;
}

#content-header {
    -fx-font-size: 18.0px;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-border-width: 1.0;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
    -fx-background-color: #dee2e6;
}

#common-hbox{
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

#commonHeader {
    -fx-background-color: #d9d9d9;
}

#commonImage{
	-fx-background-color:#b3b3b3;
}

#headerImage{
	-fx-background-color:transparent;
}

#mainBox{
	-fx-border-width: 0;
	-fx-border-color: black;
}

#optionLayout{
	-fx-background-color:#f2f2f2;
}

#registrationData{
	-fx-wrap-text: true;         
}
#userClientMachineMappingEditPane {
       -fx-background-color:#f2f2f2;
}            
#imageAnchorPane{
	 -fx-border-width: 1.0;
	-fx-border-color: black;
}

/* Device Onboarding */
.inputFields {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-background-insets: 0,0 0 1 0;
}

.inputFieldNoBorder {
  	-fx-border-width: 0 0 0 0;
}

.inputFieldBottomBorder {
  	-fx-border-width: 0 0 1 0;
}
.imageAnchorPaneStyle{
	-fx-background-color:#ffffff;
	 -fx-border-width: 1.0;
	-fx-border-color: black;
}
.rootPaneStyle{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
}
.labelAnchorPanebgColor{
	-fx-background-color:#808080;
}
.anchorPanebgColor{
	-fx-background-color:#ffffff;
	-fx-alignment: center ;
}
.comboboxStyle{
	-fx-background-color:#ffffff;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: black;
	-fx-font-size: 14px;
}
.exitButtonStyle{
	-fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
#table,#pendingActionTable{
	-fx-text-fill: black;
    -fx-font-size: 14px;
}
#approvalAccordion .title > .arrow-button .arrow{
    -fx-translate-x: 870;
}
.titled-pane > .title 
{
  -fx-background-color: white;
  -fx-border-width: 1 1 1 1;
  -fx-border-color: #dcdcdc;
  -fx-font-weight: bold;
}
.titledPaneStyle{
	-fx-background-color:#ffffff; 
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0.5em 0;
}

#table .scroll-bar:vertical > .increment-button,
#table .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#table .scroll-bar:horizontal > .increment-button,
#table .scroll-bar:horizontal > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#pendingActionTable .scroll-bar:vertical > .increment-button,
#pendingActionTable .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#pendingActionTable .scroll-bar:horizontal > .increment-button,
#pendingActionTable .scroll-bar:horizontal > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
} 
.toggle-button{
	-fx-background-color:#ffffff;
	-fx-background-radius: 6,5;
    -fx-background-insets: 0,1; 
    -fx-text-fill: black;
    -fx-font-size: 10px;   
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.toggle-button:selected{
    -fx-background-color: #a9a9a9;
     -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;
    -fx-text-fill: black;
    -fx-font-size: 10px;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#applicantImageHBox, #exceptionImageHBox {
	-fx-border-color: black;
	-fx-border-width: 2;
}
/* Registration - Biometric - Iris Capture */
#leftHandPalmPane,#rightHandPalmPane,#thumbPane,.irisImagePane {
	-fx-border-color: lightgrey;
}
#leftHandPalmPane:focused ,#rightHandPalmPane:focused ,#thumbPane:focused ,.irisImagePane:focused{
	-fx-border-color: black;
}

.scanScrollPane {
	-fx-background-color: white;
	-fx-border-width:0 0 0 0;
}

.scanVBox {
	-fx-background-color: white;
	-fx-border-width:0 0 0 0;
}

.headerPane {
	-fx-background-color:#808080;
	-fx-pref-height: 54px;
	-fx-pref-width: 483px;
}

.paneRoot {
	-fx-border-width: 1 1 1 1;
	-fx-border-color: black;
	-fx-pref-height: 359px;
	-fx-pref-width: 477px;
}

.subPane {
	-fx-background-color:#ffffff;
	-fx-pref-height: 307px;
	-fx-pref-width: 483px;
}

#submit, #rejectionSubmit,#submitBtn, #getOTP, #resend, #submitUserId{
	-fx-background-color:#ffffff; 
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
} 

.RegbuttonStyle {
	-fx-background-color:#ffffff; 
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-pref-height:20px;
    -fx-pref-width:60px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.imagePane {
	-fx-background-color:#ffffff;
	-fx-border-width: 1.0;
	-fx-border-color: black;
	-fx-pref-height: 238px;
	-fx-pref-width: 349px;
}

.exit {
	-fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-text-fill: black;
}

#duplicateCheckLbl{
	-fx-text-fill: red;
	-fx-font-size: 12px;
}

#bioPreviewGridId{
	-fx-background-color: white;
}

.scanPopupHeader {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-font-family: System;
}

.loginBorderPaneStyle{
	-fx-pref-height: 530px;
	-fx-pref-width: 808px;
}

.loginLeftPaneStyle{
	-fx-pref-height: 326px;
	-fx-pref-width: 285px;
}

.loginCenterPaneStyle{
	-fx-pref-height: 500px;
	-fx-pref-width: 500px;
}

.loginFieldStyle{
	-fx-pref-height: 39px;
	-fx-pref-width: 221px;
}

.loginSubmitStyle{
	-fx-pref-height: 30px;
	-fx-pref-width: 81px;
}

.loginOtpStyle{
	-fx-pref-height: 30px;
	-fx-pref-width: 89px;
}

.loginResendOtpStyle{
	-fx-pref-height: 30px;
	-fx-pref-width: 105px;
}

.loginOtpValidStyle{
	-fx-pref-height: 18px;
	-fx-pref-width: 136px;
}

.loginBioStyle{
	-fx-pref-height: 27px;
	-fx-pref-width: 230px;
}

.headerStyle{
	-fx-pref-height: 10px;
	-fx-pref-width: 10px;
}

.optionsStyle{
	-fx-pref-height: 244px;
	-fx-pref-width: 944px;
}

.optionsButtonStyle{
	-fx-pref-height: 127px;
	-fx-pref-width: 231px;
}

.reRegAnchorPane{
	-fx-pref-height: 278.0px; 
	-fx-pref-width: 625.0px;
}

.reRegToggle{
	-fx-pref-height: 30.0px; 
	-fx-pref-width: 86.0px;
}

.reRegTable{
	-fx-pref-height: 278.0px; 
	-fx-pref-width: 250.0px;
}

.reRegRoot{
	-fx-pref-height: 316.0px; 
	-fx-pref-width: 900.0px;
}
.uinUpdateTextFiledStyle{
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-background-insets: 0,0 0 1 0;
  	-fx-border-width: 0 0 1 0;	
}
.operatorAuthenticationStyle{
	-fx-pref-height: 39px; 
	-fx-pref-width: 269px;
}
.operatorAuthenticationAnchorPaneStyle{
	-fx-pref-height: 550px; 
	-fx-pref-width: 850px;
}
.operatorAuthenticationAnchorPane{
	-fx-pref-height: 600px; 
	-fx-pref-width: 850px;
}
#authenticateRootSubPane, .authenticationAnchorPaneStyle{
	-fx-pref-height: 300px; 
	-fx-pref-width: 480px;
}
.authenticationStyle{
	-fx-pref-height: 39px; 
	-fx-pref-width: 269px;
}
#authenticateRootPane{
	-fx-pref-height: 54px; 
	-fx-pref-width: 483px;
}
#fingerPrintScanRoot{
	-fx-pref-height: 359px; 
	-fx-pref-width: 477px;
}