.wrapper {
  background-color: #f4f4f4;
  z-index: -1;
  /* position: relative; */
  padding: 16px;
  padding-bottom: 0;
  color: #000000;
}

div,
button {
  font-family: "Roboto", Regular;
}

div {
  margin-bottom: 5px;
}

@media (min-width: 670px) {
  div.ack-appointmentConfirm {
    padding-bottom: 10;
    border-bottom: 1px solid #fd518c;
    vertical-align: middle;
    height: 60.52px;
    color: #fd518c;
    /* border: 1px solid #676767;  */
    display: flex;
    align-items: center;
    font-size: 28px;
    min-width: 420px;
  }

  div.ack-appointmentMessage {
    vertical-align: middle;
    height: 45px;
    color: #577b0a;
    background: #e8f4d0;
    /* border: 1px solid #676767; */

    display: flex;
    flex-shrink: unset;
    align-items: center;
    font-size: 18px;
    min-width: 420px;
  }

  img.done {
    width: 20px;
    height: 20px;
  }

  .ack-container {
    /* width : 100%;
    height: 720px;
    border: 1px dotted black;
    overflow-x: auto;
    overflow-y: auto; */
    /* max-height: 410px; */
    /* overflow: scroll; */
    /* overflow-y: auto; */
    margin-left: 10px;
    height: 58vh;
    overflow-x: auto;
    overflow-y: auto;
  }

  .ack-userInfo-container {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #676767; */
    min-width: 420px;
  }

  .ack-userInfo {
    flex: 1;
    flex-basis: 60%;
    max-width: 800px;
  }

  .ack-userInfo_qr-code {
    flex: 1;
    max-width: 500px;
    flex-basis: 40%;
    min-width: 420px;
  }

  .ack-userInfo_row {
    display: flex;
    font-size: 16px;
    /* border: 1px solid #676767; */
    /* min-width: 420px; */
  }

  .ack-userInfo_label {
    /*
    flex : 3;
    */
    flex-basis: 45%;
    /* border: 1px solid #676767; */
    min-width: 200px;
  }

  .ack-userInfo_separator {
    /*
    flex : 1;
    */
    flex-basis: 05%;
    /* border: 1px solid #676767; */
    min-width: 20px;
  }

  .ack-userInfo_data {
    /*
 flex : 3;
 */
    flex-basis: 50%;
    /* border: 1px solid #676767; */
    min-width: 200px;
  }

  .ack-userInfo_qr-code img {
    width: 226px;
    height: 226px;
  }

  .ack-guidelines-container div {
    font-size: 22px;
  }

  .ack-guidelines-container li {
    font-size: 16px;
  }

  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2.5em;
    opacity: 0.2;
  }

  .ack-actionButton-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    opacity: 1;
    z-index: 2;
    /* border: 1px solid #676767; */
    /* background-color: rgb(0, 219, 226); */
    align-items: center;
  }
  .ack-actionButton-container button {
    margin-right: 20px;
    vertical-align: middle;
  }

  button {
    border: 1px solid #fd518c;
    font-size: 16px;
    /* letter-spacing: 1px;
	margin: 5px;
    padding: 7px 10px; */
    width: 158px;
    height: 51.53px;
    text-align: center;
    display: inline-block;
  }

  button#download {
    background: #ffffff;
    color: #fd518c;
  }

  button#print {
    background: #fd518c;
    color: #ffffff;
  }
}

@media (max-width: 670px) {
  div.ack-appointmentConfirm {
    border-bottom: 1px solid #fd518c;
    vertical-align: middle;
    height: 40.52px;
    color: #fd518c;
    /* border: 1px solid #676767;  */
    display: flex;
    align-items: center;
    font-size: 20px;
    min-width: 420px;
  }

  div.ack-appointmentMessage {
    vertical-align: middle;
    height: 45px;
    color: #577b0a;
    background: #e8f4d0;
    /* border: 1px solid #676767; */

    display: flex;
    flex-shrink: unset;
    align-items: center;
    font-size: 12.8px;
    min-width: 420px;
  }

  img.done {
    width: 16px;
    height: 16px;
  }

  .ack-container {
    margin-left: 10px;
    /* max-height: 410px; */
    /* overflow: auto; */
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ack-userInfo-container {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #676767; */
    min-width: 420px;
  }

  .ack-userInfo_row {
    display: flex;
    font-size: 11.4px;
    /* border: 1px solid #676767; */
    /* min-width: 420px; */
  }

  .ack-userInfo_label {
    /*
    flex : 3;
    */
    flex-basis: 45%;
    /* border: 1px solid #676767; */
    min-width: 200px;
  }

  .ack-userInfo_separator {
    /*
    flex : 1;
    */
    flex-basis: 05%;
    /* border: 1px solid #676767; */
    min-width: 20px;
  }

  .ack-userInfo_data {
    /*
 flex : 3;
 */
    flex-basis: 55%;
    /* border: 1px solid #676767; */
    min-width: 200px;
  }

  .ack-userInfo {
    flex: 1;
    flex-basis: 60%;
    max-width: 800px;
  }

  .ack-userInfo_qr-code {
    flex: 1;
    max-width: 500px;
    flex-basis: 40%;
    min-width: 420px;
  }

  .ack-userInfo_qr-code img {
    width: 162px;
    height: 162px;
  }

  .ack-guidelines-container div {
    font-size: 15.7px;
  }

  .ack-guidelines-container li {
    font-size: 11.4px;
  }

  div {
    margin-bottom: 3.55px;
  }

  .ack-actionButton-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    opacity: 1;
    z-index: 2;
    /* border: 1px solid #676767; */
    /* background-color: rgb(0, 219, 226); */
    align-items: center;
  }

  /* button {
   
  } */

  .ack-actionButton-container button {
    border: 1px solid #fd518c;
    font-size: 11.4px;
    /* letter-spacing: 1px;
	margin: 5px;
    padding: 7px 10px; */
    width: 118px;
    height: 38.6px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }

  button#download {
    background: #ffffff;
    color: #fd518c;
  }

  button#print {
    background: #fd518c;
    color: #ffffff;
  }

  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2.5em;
    opacity: 0.2;
  }
}
