.ack-userInfo-container{
    display:flex;
    flex-wrap:wrap;
}

.ack-userInfo_row{
    display:flex;
   
    display:flex;
}

.ack-userInfo_label{

    
    /*
    flex : 3;
    */
    flex-basis:45%;
    min-width: 200px;
}

.ack-userInfo_separator{
    
     /*
    flex : 1;
    */
    flex-basis:05%;
}

.ack-userInfo_data{
 
  /*
 flex : 3;
 */
 flex-basis:55%;
 min-width: 200px;
}

.ack-userInfo{
    flex : 1;
    border : 1px solid black;
    flex-basis:60%
   
}



.ack-userInfo_qr-code{
    flex : 1;
    border : 1px solid black;
    flex-basis:40%
}