mat-card{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    border:1;
  }

  .row{
    display:flex;
  }

  .row div{
    flex : 1;
  }

  .row button{
    flex : 1;
  }

  .action_buttons{
    display:flex;
    align-items : center;
  }
  .action_button button{
    
  }