.ack-userInfo-container{
    display:flex;
    flex-wrap:wrap;
}

.ack-userInfo_row{
    display:flex;
}

.ack-userInfo_label{    
    /*
    flex : 3;
    */
    flex-basis:45%;
    min-width: 200px;
}

.ack-userInfo_separator{
    
     /*
    flex : 1;
    */
    flex-basis:05%;
}

.ack-userInfo_data{
 
  /*
 flex : 3;
 */
 flex-basis:55%;
 min-width: 200px;
}

.ack-userInfo{
    flex : 1;    
    flex-basis:60%;
    max-width: 800px;
}

.ack-userInfo_qr-code{
    flex : 1;
    max-width: 500px;
    flex-basis:40%
}

div{
    margin-bottom : 5px;
    border: 1px solid brown;
}

.ack-appointmentConfirm{
    
}

.ack-appointmentMessage{
   
}

.ack-guidelines-container ul
{
    /*
    width:800px;
    height:10px;
    border-style:solid;
    list-style-type:none;
    border-width:1px;
    padding-left: 15pt;
    */    
    opacity : 0.2;
    margin-left: -18pt;
}

.ack-actionButton-container{
    
    display:flex;
    justify-content: flex-end;
    
}
.ack-actionButton-container button{
    margin-right: 20px;
}



