<div class="wrapper">
  <div class="ack-appointmentConfirm">{{ message1 }}</div>
  <div class="ack-appointmentMessage">
    <img class="done" src="assets/img/done.png" />{{ message2 }}
  </div>
  <div class="ack-container">
    <div  *ngFor="let usersI of usersInfo">
      <div class="ack-userInfo-container">
        <div class="ack-userInfo">
          <div class="ack-userInfo_row" *ngFor="let row of usersI.userInfo">
            <div class="ack-userInfo_label">{{ row.key }}</div>
            <div class="ack-userInfo_separator">:</div>
            <div class="ack-userInfo_data">{{ row.value }}</div>
          </div>
        </div>
        <div class="ack-userInfo_qr-code">
          <img src="{{ usersI.qrCode }}" />
        </div>
      </div>
      <div class="ack-guidelines-container">
        <div>Important Guidelines</div>
        <ul>
          <li *ngFor="let item of usersI.guidelines">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ack-actionButton-container">
    <button id="download" type="button">DOWNLOAD</button>
    <button id="print" type="button">PRINT</button>
  </div>
</div>
