<mat-card>
  <div class="header-container">
      <span class="breadcrumb">{{'quick_guide.breadcrumb.home' | translate}}/<strong>{{'quick_guide.breadcrumb.getting_started' | translate}}</strong></span>
      <span class="spacer"></span>
      <span class="header-text">{{'quick_guide.breadcrumb.getting_started' | translate}}</span>
      <span class="spacer"></span>
  </div>
</mat-card>

<div [ngClass]="langCode === 'ara' ? 'body-container text-direction': 'body-container'">
  <mat-card>
    <div class="heading-container">
      <p>{{'quick_guide.headerText.line1' | translate}}
        <br /><br />{{'quick_guide.headerText.line2' | translate}}
      </p>
    </div>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = 0" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 0 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 0 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 0 ? 'white-text' : 'pink-text'">
              {{'quick_guide.select_language.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.select_language.list.line1' | translate}}</li>
            <li>{{'quick_guide.select_language.list.line2' | translate}}</li>
          </ol>
          <span class="note-placer">{{'quick_guide.select_language.note' | translate}}</span>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 1" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 1 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 1 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 1 ? 'white-text' : 'pink-text'">
              {{'quick_guide.login.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.login.list.line1' | translate}}</li>
            <li>{{'quick_guide.login.list.line2' | translate}}</li>
            <li>{{'quick_guide.login.list.line3' | translate}}</li>
          </ol>
          <span class="note-placer">{{'quick_guide.login.note' | translate}}</span>
          <span class="note-placer">{{'quick_guide.login.line' | translate}}</span>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 2" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 2 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 2 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 2 ? 'white-text' : 'pink-text'">
              {{'quick_guide.t&c.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.t&c.list.line1' | translate}}</li>
            <li>{{'quick_guide.t&c.list.line2' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 3" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 3 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 3 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 3 ? 'white-text' : 'pink-text'">
              {{'quick_guide.demographic.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.demographic.list.line1' | translate}}
              <br />
              <span class="note-placer">{{'quick_guide.demographic.list.line1_note' | translate}}</span>
            </li>
            <li>{{'quick_guide.demographic.list.line2' | translate}}</li>
            <li>{{'quick_guide.demographic.list.line3' | translate}}</li>
          </ol>
          <span class="note-placer">{{'quick_guide.demographic.line' | translate}}</span>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 4" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 4 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 4 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 4 ? 'white-text' : 'pink-text'">
              {{'quick_guide.documents.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.documents.list.line1' | translate}}</li>
            <li>{{'quick_guide.documents.list.line2' | translate}}</li>
            <li>{{'quick_guide.documents.list.line3' | translate}}</li>
            <li>{{'quick_guide.documents.list.line4' | translate}}</li>
            <li>{{'quick_guide.documents.list.line5' | translate}}</li>
            <li>{{'quick_guide.documents.list.line6' | translate}}</li>
            <li>{{'quick_guide.documents.list.line7' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 5" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 5 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 5 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 5 ? 'white-text' : 'pink-text'">
              {{'quick_guide.preview.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.preview.list.line1' | translate}}</li>
            <li>{{'quick_guide.preview.list.line2' | translate}}</li>
            <li>{{'quick_guide.preview.list.line3' | translate}}
              <br /><span class="note-placer">{{'quick_guide.preview.list.line3_note' | translate}}</span>
            </li>
            <li>{{'quick_guide.preview.list.line4' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 6" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 6 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 6 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 6 ? 'white-text' : 'pink-text'">
              {{'quick_guide.CenterSelection.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.CenterSelection.list.line1' | translate}}
              <br /><span class="note-placer">{{'quick_guide.CenterSelection.list.line1_note' | translate}}</span>
              <ul>
                <li>{{'quick_guide.CenterSelection.list.subList.line1' | translate}}</li>
                <li>{{'quick_guide.CenterSelection.list.subList.line2' | translate}}</li>
                <li>{{'quick_guide.CenterSelection.list.subList.line3' | translate}}</li>
              </ul>
            </li>
            <li>{{'quick_guide.preview.list.line2' | translate}}</li>
            <li>{{'quick_guide.preview.list.line3' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 7" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 7 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 7 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 7 ? 'white-text' : 'pink-text'">
              {{'quick_guide.Booking.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.Booking.list.line1' | translate}}</li>
            <li>{{'quick_guide.Booking.list.line2' | translate}}</li>
            <li>{{'quick_guide.Booking.list.line3' | translate}}</li>
            <li>{{'quick_guide.Booking.list.line4' | translate}}
              <br /><span class="note-placer">{{'quick_guide.preview.list.line3_note' | translate}}</span>
            </li>
            <li>{{'quick_guide.Booking.list.line5' | translate}}</li>
            <li>{{'quick_guide.Booking.list.line6' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 8" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 8 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 8 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 8 ? 'white-text' : 'pink-text'">
              {{'quick_guide.Acknowledgement.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.Acknowledgement.list.line1' | translate}}</li>
            <li>{{'quick_guide.Acknowledgement.list.line2' | translate}}
            <ul>
              <li>{{'quick_guide.Acknowledgement.list.subList.line1' | translate}}</li>
              <li>{{'quick_guide.Acknowledgement.list.subList.line2' | translate}}</li>
              <li>{{'quick_guide.Acknowledgement.list.subList.line3' | translate}}
                <ol>
                  <li>{{'quick_guide.Acknowledgement.list.subList.subList.line1' | translate}}</li>
                  <li>{{'quick_guide.Acknowledgement.list.subList.subList.line2' | translate}}</li>
                  <li>{{'quick_guide.Acknowledgement.list.subList.subList.line3' | translate}}</li>
                </ol>
              </li>
            </ul>
          </li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 9" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 9 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 9 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 9 ? 'white-text' : 'pink-text'">
              {{'quick_guide.status.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{'quick_guide.status.headers.status' | translate}}</th>
              <th>{{'quick_guide.status.headers.explanation' | translate}}</th>
            </tr>
            <tr>
              <td rowspan="2">{{'quick_guide.status.status.pendingAppointment' | translate}}</td>
              <td>{{'quick_guide.status.explanation.pendingAppointment.line1' | translate}}
                <br />
                {{'quick_guide.status.explanation.pendingAppointment.line1_action' | translate}}
              </td>
            </tr>
            <tr><td>
              {{'quick_guide.status.explanation.pendingAppointment.line2' | translate}}
                <br />
                {{'quick_guide.status.explanation.pendingAppointment.line2_action' | translate}}
            </td></tr>
            <tr>
              <td>{{'quick_guide.status.status.booked' | translate}}</td>
              <td>{{'quick_guide.status.explanation.booked.line1' | translate}}
                <br />
                {{'quick_guide.status.explanation.booked.line1_action' | translate}}
              </td>
            </tr>
            <tr>
              <td>{{'quick_guide.status.status.expired' | translate}}</td>
              <td>{{'quick_guide.status.explanation.expired.line1' | translate}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 10" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 10 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 10 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 10 ? 'white-text' : 'pink-text'">
              {{'quick_guide.addApplicant.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span class="note-placer">{{'quick_guide.addApplicant.line' | translate}}</span>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 11" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 11 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 11 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 11 ? 'white-text' : 'pink-text'">
              {{'quick_guide.modify.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.modify.list.line1' | translate}}</li>
            <li>{{'quick_guide.modify.list.line2' | translate}}</li>
            <li>{{'quick_guide.modify.list.line3' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 12" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 12 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 12 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 12 ? 'white-text' : 'pink-text'">
              {{'quick_guide.rebook.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.rebook.list.line1' | translate}}</li>
            <li>{{'quick_guide.rebook.list.line2' | translate}}</li>
            <li>{{'quick_guide.rebook.list.line3' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 13" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 13 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 13 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 13 ? 'white-text' : 'pink-text'">
              {{'quick_guide.cancelAppointment.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.cancelAppointment.list.line1' | translate}}</li>
            <li>{{'quick_guide.cancelAppointment.list.line2' | translate}}</li>
            <li>{{'quick_guide.cancelAppointment.list.line3' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 14" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 14 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 14 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 14 ? 'white-text' : 'pink-text'">
              {{'quick_guide.discard.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.discard.list.line1' | translate}}</li>
            <li>{{'quick_guide.discard.list.line2' | translate}}</li>
            <li>{{'quick_guide.discard.list.line3' | translate}}</li>
          </ol>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = 15" (closed)="panelOpenState = -1">
          <mat-expansion-panel-header [ngStyle]="{
            'background-color': panelOpenState === 15 ? '#FD5D93' : 'white',
            'margin-bottom': panelOpenState === 15 ? '8px' : '0'
          }">
            <mat-panel-title [ngClass]="panelOpenState === 15 ? 'white-text' : 'pink-text'">
              {{'quick_guide.Logout.name' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ol>
            <li>{{'quick_guide.Logout.list.line1' | translate}}</li>
            <li>{{'quick_guide.Logout.list.line2' | translate}}</li>
          </ol>
          <span class="note-placer">{{'quick_guide.Logout.line' | translate}}</span>
        </mat-expansion-panel>
        </mat-accordion>      
  </mat-card>
</div>