<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Mosip E2E Suite">

<listeners>
		<listener class-name="io.mosip.e2e.report.CustomTestNGReporter" />
		<!-- <listener class-name="io.mosip.e2e.report.ExtentReportListener"></listener> -->
	</listeners>





	<test name="E2E Tests">

		<classes>
		<class name="io.mosip.e2e.tests.PreRegistrationTests" />
			 <class name="io.mosip.e2e.tests.RegistrationProcessor" /> 
			
		
		</classes>
	</test>

	
</suite>