<!--<mat-accordion class="example-headers-align" *ngFor="let applicant of users; let applicantIndex = index">
  <mat-expansion-panel [expanded]="step === applicantIndex" (opened)="setStep(applicant, applicantIndex)">
    <mat-expansion-panel-header>
      <mat-panel-title> Document upload </mat-panel-title>
      <mat-panel-description> {{ applicant.identity.FullName[0].value }} </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="4" rowHeight="4em">
      <!--<mat-grid-tile [colspan]="1" [rowspan]="4"
        
      </mat-grid-tile>--
      <mat-grid-tile [colspan]="1" [rowspan]="4">
        <div class="docsContainer">
          <mat-form-field *ngFor="let docs of LOD; let i = index">
            <mat-select
              id="{{ docs.document_name }}"
              placeholder="{{ docs.document_name }}"
              (selectionChange)="selectChange($event, i)"
              (openedChange)="openedChange($event, i)"
            >
              <mat-option value="" *ngIf="applicantIndex > 0 && docs.document_name == 'POA'" value="Same as Primary">
                Same as Primary
              </mat-option>
              <mat-option value="" *ngFor="let option of docs.valid_docs" value="{{ option.value }}">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="4">
        <div class="docsContainer">
          <!--<p class="fileName" id="file.doc_id" *ngFor="let file of users.files[0]; let fileIndex = index ">--
          <p class="fileName" *ngFor="let file of applicant.files[0]; let fileIndex = index">
            <span>{{ file.doc_name }}</span>
            <mat-icon
              class="icon cross"
              *ngIf="file.doc_name"
              style="cursor: pointer;"
              (click)="removeFile(applicantIndex, fileIndex)"
              >close</mat-icon
            >
            <br />
            <span (click)="openFile()">view</span>
            <!--<span *ngIf="file.doc_name" class="cross" (click)="removeFile(applicantIndex,fileIndex)"> X</span></p>--
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="4">
        <input type="file" id="file" (change)="handleFileInput($event)" style="display: none;" />
        <input
          class="browseInput"
          value="{{ browseDisabled ? 'Select Document Type' : 'Browse' }}"
          type="button"
          onclick="document.getElementById('file').click();"
          [disabled]="browseDisabled"
        />
      </mat-grid-tile>
    </mat-grid-list>
    <mat-action-row>
      <button *ngIf="applicantIndex !== 0" mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep(applicantIndex)">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
-->
<!-- 
<div class="file-upload">
  <div class="file-uploaad__header">Upload Documents</div>
  <div class="file-upload__body">
    <div>Allowed file type Pdf, Word and Max 5MB</div>
    <div class="file-upload__body__1">
      <div class="file-upload__body__document-type" *ngFor="let document of LOD; let i = index">
        <mat-form-field>
          <mat-select
            placeholder="{{ document.document_name }}"
            (selectionChange)="selectChange($event, i)"
            (openedChange)="openedChange($event, i)"
          >
            <mat-option *ngFor="let ValidDocument of document.valid_docs" value="{{ ValidDocument.value }}">
              {{ ValidDocument.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="file-upload__button">
          <input type="file" id="file" (change)="handleFileInput($event)" style="display: none;" />
          <input
            class="browseInput"
            value="Browse"
            type="button"
            onclick="document.getElementById('file').click();"
            [disabled]="i != documentIndex ? true : false || !users[0].files[0][documentIndex] ? false : true"
          />
        </span>
        <div class="file-upload__body__document-name" *ngIf="users[0].files[0][i]">
          <span>{{ users[0].files[0][i].doc_name }}</span>
          <span>
            <mat-icon class="icon cross" style="cursor: pointer;" (click)="removeFile(0, i)">close</mat-icon>
          </span>
        </div>
      </div>
    </div>
    <div class="file-upload__body__2">view</div>
  </div>
</div> -->

<div class="file-upload">
  <div class="file-uploaad__header">{{ 'documents.title_document' | translate }}</div>
  <div class="file-upload__message">{{ 'documents.text_filetype' | translate }}</div>
  <div class="file-upload__body">
    <div class="file-upload__body__1">
      <div class="file-upload__body__document-type" *ngFor="let document of LOD; let i = index">
        <mat-form-field class="file-upload__input">
          <mat-select
            #docCatSelect
            placeholder="{{ document.document_name }}"
            (selectionChange)="selectChange($event, i)"
            (openedChange)="openedChange($event, i)"
          >
            <mat-option *ngFor="let ValidDocument of document.valid_docs" value="{{ ValidDocument.value }}">
              {{ ValidDocument.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="file-upload__button">
          <input #fileUpload type="file" id="file" (change)="handleFileInput($event)" style="display: none;" />
          <input
            class="browseInput"
            value="{{ 'documents.action_browse' | translate }}"
            type="button"
            onclick="document.getElementById('file').click();"
            [disabled]="i != documentIndex"
          />
        </span>
        <span *ngIf="document.document_name === 'POA' && multipleApplicants">
          <span>OR</span>
          <span>
            <mat-form-field class="file-upload__or">
              <mat-select placeholder="Same as" (selectionChange)="sameAsChange($event)">
                <mat-option *ngFor="let applicant of allApplicants" value="{{ applicant.preRegId }}">
                  {{ applicant.request.demographicDetails.identity.fullName[0].value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </span>
        <div class="file-upload__body__document-name">
          <div *ngFor="let file of users[0].files[0]; let j = index">
            <div *ngIf="file.doc_cat_code == document.document_name">
              <span>{{ file.doc_name }}</span>
              <span class="file-uplaoad__body__document-name__view" (click)="viewFile(file)">
                <img src="assets\view.png" class="view-img" />
              </span>
              <span>
                <mat-icon class="icon cross" style="cursor: pointer;" (click)="removeFile(0, file.doc_cat_code)"
                  >close</mat-icon
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="file-upload__body__2" *ngIf="this.users[0].files[0].length != 0">
      <p>{{ fileName }}</p>
      <iframe class="file-uplaoad__body__2__preview" [attr.src]="fileUrl" type="application/pdf;Base64,"></iframe>
      <div class="file-buttons">
        <button class="previousFile" [disabled]="fileIndex <= 0 ? true : false" (click)="previousFile()">
          <img src="../../../../assets/left.png" />
        </button>
        <p>{{ fileIndex + 1 }} of {{ users[0].files[0].length }}</p>
        <button
          class="nextFile"
          [disabled]="fileIndex >= users[0].files[0].length - 1 ? true : false"
          (click)="nextFile()"
        >
          <img src="../../../../assets/right.png" />
        </button>
      </div>
    </div>
  </div>
</div>
<div class="user__buttons">
  <button class="user__btn" type="button" (click)="onBack()">{{ 'documents.action_back' | translate }}</button>
  <button class="user__btn" type="button" (click)="onNext()">
    <!-- <div *ngIf="dataUploadComplete">Continue</div>
          <div *ngIf="!dataUploadComplete" class="pgbar">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div> -->{{ 'documents.action_continue' | translate }}
  </button>
</div>
