<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/about-us">About us</a></li>
        <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/faq">FAQ</a></li>
        <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              Select Language <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages" [value]="language.value">{{ language.viewValue }}</li>
            </ul>
          </li>
        </ng-template>
        <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--
  <mat-toolbar>
    <mat-toolbar-row style="background: #d9d9d9;">
      <span class="nav" routerLinkActive="active"><a style="cursor: pointer;" routerLink="/about-us">About us</a></span>
      <span class="nav" routerLinkActive="active"><a style="cursor: pointer;" routerLink="/faq">FAQ</a></span>
      <span class="nav" routerLinkActive="active"><a style="cursor: pointer;" routerLink="/contact">Contact</a></span>
    </mat-toolbar-row>
  </mat-toolbar>
-->

<!--
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink="/about-us" (click)="sidenav.close()">About us</a>
        <a mat-list-item routerLink="/faq" (click)="sidenav.close()">FAQ</a>
        <a mat-list-item routerLink="/contact" (click)="sidenav.close()">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        </div>
        <div><a routerLink="/">LOGO</a></div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/about-us">About us</a></li>
            <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/faq">FAQ</a></li>
            <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </mat-toolbar>
      <main><router-outlet></router-outlet></main>
    </mat-sidenav-content>
  </mat-sidenav-container>
-->
