mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgrey;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  margin-bottom: 10px;
}
