<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" position="start" mode="push">
    <mat-nav-list class="sidenav-list">
      <a mat-list-item routerLink="/about-us" (click)="sidenav.toggle()"> {{ 'header.link_about' | translate }}</a>
      <a mat-list-item routerLink="/faq" (click)="sidenav.toggle()">{{ 'header.link_faq' | translate }}</a>
      <a mat-list-item routerLink="/contact" (click)="sidenav.toggle()">{{ 'header.link_contact' | translate }}</a>
      <a mat-list-item routerLink="#" (click)="sidenav.toggle()">help</a>
      <a mat-list-item routerLink="#" (click)="sidenav.toggle()">home</a>
      <a mat-list-item routerLink="#" (click)="sidenav.toggle()">profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="sidenav-button">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <a><img src="assets\logo-final.png" style="max-height: 50px;"/></a>
      <div style="margin-left:5px;"><a routerLink="/" class="logo">logo</a></div>
      <mat-nav-list class="list-item">
        <a mat-list-item routerLink="/about-us">{{ 'header.link_about' | translate }}</a>
        <a mat-list-item routerLink="/faq">{{ 'header.link_faq' | translate }}</a>
        <a mat-list-item routerLink="/contact">{{ 'header.link_contact' | translate }}</a>
      </mat-nav-list>
      <span class="spacer"></span>
      <mat-nav-list class="list-item">
        <a mat-list-item routerLink="#"> <mat-icon class="icon">help</mat-icon> </a>
        <a mat-list-item (click)="onHome()"> <mat-icon class="icon">home</mat-icon> </a>
        <a mat-list-item routerLink="#"> <mat-icon class="icon">account_circle</mat-icon> </a>
      </mat-nav-list>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
