.progress {
  display: inline-block;
  width: 5rem;
  height: 0;
  position: relative;
  top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

.progress-active {
  border-top: 2px solid #fd518c;
}

.progress-complete {
  border-top: 2px solid #000000;
}

.progress-incomplete {
  border-top: 2px solid grey;
  opacity: 0.5;
}

.container {
  justify-content: center;
  align-items: center;
  vertical-align: center;
  align-content: center;
  display: flex;
  margin: 0 20% 0 20%;
}

p {
  font-size: 12px;
  white-space: nowrap;
}

.inline-icon {
  vertical-align: bottom;
  height: 1.5rem;
}

.inline-icon-background-active {
  filter: invert(100%);
}

.inline-icon-background-complete {
  filter: invert(50%);
}

.inline-icon-background-incomplete {
  filter: invert(100%);
  opacity: 0.5;
  padding: 1px;
}

.active {
  color: #4da6ff;
  font-size: 1.2rem;
  font-weight: 400;
}

.complete {
  color: green;
}

.incomplete {
  color: grey;
  opacity: 0.5;
}

@media (max-width: 500px) {
  .progress {
    width: 0;
  }

  p {
    white-space: normal;
  }
}

@media (max-width: 1032px) and (min-width: 801px) {
  .progress {
    width: 100px;
  }

  p {
    white-space: normal;
  }
}

@media (max-width: 800px) and (min-width: 501px) {
  .progress {
    width: 60px;
  }

  p {
    white-space: normal;
  }
}
