<div class="container">
  <div><p [ngClass]="classes.step1.p"><img src="assets/demographic_details.png" [ngClass]="classes.step1.icon"/>&nbsp; {{'stepper.link_demographic'| translate}} </p></div>
  <div><hr [ngClass]="classes.step1.line"/></div>
  <div><p [ngClass]="classes.step2.p"><img src="assets/upload_document.png" [ngClass]="classes.step2.icon" />&nbsp; {{'stepper.link_upload_doc'| translate}}</p></div>
  <div><hr [ngClass]="classes.step2.line"/></div>
  <div><p [ngClass]="classes.step3.p"><img src="assets/book_appointment.png" [ngClass]="classes.step3.icon"/>&nbsp;  {{'stepper.link_book'| translate}} </p></div>
  <div><hr [ngClass]="classes.step3.line"/></div>
  <div><p [ngClass]="classes.step4.p"><img src="assets/confirmation.png" [ngClass]="classes.step4.icon" />&nbsp;   {{'stepper.link_confirm'| translate}}</p></div>
</div>