.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.app-sidebar{
    width: 20%;
}
.app-main{
    width: 80%;
}

@media(max-width:800px){
    .app-sidebar{
        width:20px;
    }
}