.progress{
  display: inline-block;
  width : 150px;
  height: 0;
  position: relative;
  top:-2px;
  margin-right: 5px;
  margin-left: 5px;
}

.progress-active {
  border-top: 3px solid blue;
}

.progress-complete {
  border-top: 3px solid green;
}

.progress-incomplete {
  border-top: 3px solid grey;
  opacity: 0.5;
}

.container {
  justify-content: center;
  align-items: center;
  vertical-align: center;
  align-content: center;
  display: flex;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
  border-radius: 100%;
}

.inline-icon-background-active {
  background: blue;
}

.inline-icon-background-complete {
  background: green;
}

.inline-icon-background-incomplete {
  background: grey;
  opacity: 0.5;
}

.active {
  color: blue;
}

.complete {
  color: green;
}

.incomplete {
  color: grey;
  opacity: 0.5;
}

@media(max-width: 500px) {
  .container {
    margin-left: 3%;
  }
  .progress {
    width: 0;
  }
}

@media (max-width:850px) and (min-width:501px) {
  .progress {
    width: 60px;
  }
}