<div class="container">
  <!-- <div class="inline-placer complete"><p><i class="inline-icon material-icons">home</i>&nbsp; Demographic Details</p></div><hr class="test"/>
  <div class="inline-placer complete"><p><i class="inline-icon material-icons">home</i>&nbsp; File Upload -----------------------------------------------</p></div>
  <div class="inline-placer active"><p><i class="inline-icon material-icons">home</i>&nbsp; Book Appointment ------------------------------------</p></div>
  <div class="inline-placer incomplete"><p><i class="inline-icon material-icons">home</i>&nbsp; Confirmation</p></div> -->
  <div><p class="complete"><i class="inline-icon material-icons">home</i>&nbsp; Demographic Details</p></div>
  <div><hr class="test complete"/></div>
  <div><p class="complete"><i class="inline-icon material-icons">home</i>&nbsp; Upload Document</p></div>
  <div><hr class="test complete"/></div>
  <div><p class="active"><i class="inline-icon material-icons">home</i>&nbsp; Book Appointment</p></div>
  <div><hr class="test active"/></div>
  <div><p class="incomplete"><i class="inline-icon material-icons">home</i>&nbsp; Confirmation</p></div>


</div>