

<ul>
        <li><button (click)="getToken()" type="button" class="btn btn-info btn-demo">Get-Token</button></li>
        <li><button (click)="createApplication()" type="button" class="btn btn-primary btn-demo">CREATE</button></li>
        <li><button (click)="deleteApplication()" type="button" class="btn btn-secondary btn-demo">DELETE</button></li>
        <li><button (click)="getApplication()" type="button" class="btn btn-success btn-demo">RETRIEVE</button></li>
        <li><button (click)="putApplication()" type="button" class="btn btn-danger btn-demo">UPDATE</button></li>
        <li><button (click)="otp()" type="button" class="btn btn-warning btn-demo">Get OTP</button></li>
        <li><button (click)="logout()" type="button" class="btn btn-success btn-demo">LOGOUT</button></li>
</ul>


