h1 { 
    color: #122e36; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    padding-bottom: 2px; 
    text-align: center; 
}

