<h2> UIN Active/Deactive</h2>    
        <form [formGroup]="uinStatusForm" (ngSubmit)="search()">
        Enter UIN : <input type="text" id="txtvalidation" formControlName="uin"  required=true [(ngModel)]="inputUin" (blur)="clearResponse()">
        <button [disabled]="!uinStatusForm.valid" type="submit">Search</button>
        <!-- <button [disabled]="!uinStatusForm.valid" (click)=refresh()>Clear</button> -->
        <br>
         <div *ngIf="inputUin.length > 0 && response">
             <label *ngIf="response.response != null"  [hidden]="!uinStatusForm.valid"  class="success">{{status}} </label>
             <label *ngIf="response.errors != null" [hidden]="!uinStatusForm.valid" class="error">{{response.errors[0].message}}</label>
         </div> 
    
    </form>
      
        
        
