::ng-deep .mat-dialog-container {
  padding: 10px 1.5rem 1.5rem 1.7rem;
  border-radius: 0px;
}
.body-height {
  height: 60px;
}

.button-placer {
  margin: 0 0 0 20px;
}

.close-button-sizing {
  color: red;
  margin-left: 4px;
  font-size: 12px;
}

.table-container td {
  padding-right: 10px;
}
.consent-popup-title {
  font-size: 1rem;
  margin: 0px;
  color: #fd518c;
}
/* consent story desgin css */
.consent-popup-subtitle {
  font-size: 0.8rem;
  margin: 0px;
  font-weight: 600;
}
.accept-button {
  margin: 10px auto;
  color: white;
  background-color: #ff4081;
  border-radius: 2px;
}
.accept-button-disabled {
  margin: 10px auto;
  color: white;
  background-color: gray;
}
.consentpopup-content {
  font-size: 0.8rem;
  max-height: 100px;
}
.consentpopup-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.consentpopup-content::-webkit-scrollbar-thumb {
  background-color: #ff4081;
}
.consentpopup-content::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.consent-popup-parent {
  position: relative;
}

.consent-popup-cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 16px;
  background: transparent;
  min-height: 29px;
  border: none;
  outline: none;
  cursor: pointer;
}

.consent-popup-cross-icon {
  font-size: 1rem;
}

.checkbox-accept {
  font-size: 0.8rem;
}

/* consent story desgin css  */

.error-dialog {
  margin-bottom: 15px;
}
