.title{
    margin-top:3em;
  }
  .title-word{
    margin-left:2em;
    font-size: 1em;
    font-weight: bold;
  }
  .horizontal-line{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
  }