<div class="title">
  <span class="title-word">
    <mat-icon class="arrow">keyboard_backspace</mat-icon>
    User Password Creation
  </span>
  <hr class="horizontal-line">
</div>
<div class="container">
  <form [formGroup]="userpasswordCreationForm" (ngSubmit)="onSubmit()">
    <div class="password-container">
      <div>
      <mat-form-field class="input-full-width">
        <input formControlName="password" (focusout)="onVerification()" matInput placeholder="Password" type="password" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-full-width">
        <input formControlName="confPassword" (focusout)="onVerification()" matInput placeholder="Confirm password" type="password" />
      </mat-form-field>
    </div>
      <button mat-raised-button class="proceed-button" type="submit">
        Proceed
      </button>
    </div>
  </form>
</div>