/* .highlight {
   font-weight: 900; 
  /font-size: 1.02em; 
  background: #d9d9d9; 
} */

/* .mat-elevation-z8 {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card-wrapper {
  position: relative;
  padding: 15px 30px 40px;
  margin: 0 auto 20px;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 2px 6px 20px -8px;
  max-width: 360px;
}
.card-wrapper > div:not(:last-of-type) {
  margin-bottom: 8px;
}
.row1 {
  position: relative;
}
.row2 {
  display: flex;
}
.row2 span {
  flex: 1;
}
.row2 span:last-of-type {
  text-align: right;
}
.row1 input {
  position: absolute;
  left: -25px;
  top: 0;
}
.edit {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: black;
}

@media (max-width: 500px) {
  .mat-elevation-z8 {
    display: none;
  }
}

@media (min-width: 500px) {
  .card-wrapper {
    display: none;
  }
}

.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional 
 }*/
/* .icon {
  margin-top: 13px;
  font-size: 15px;
  float: left;
}

.mat-button.mat-small {
  min-width: 1%;
}

.modifydata {
  text-align: right;
}

.modify {
  height: 11px;
  font-size: 8px;
  margin-left: 10px;
}

.mat-raised-button {
  margin-left: 8px;
  padding: 8px 16px;
  line-height: 0px;
  margin-bottom: 10px;
}

@media (min-width: 990px) {
  .addButtonPlacer {
    right: 300px;
  }
}   */
.spinner {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard-body {
  background-color: #f4f4f4;
  opacity: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  margin: 0;
}
.heading-row {
  display: flex;
  flex-wrap: wrap;
}
.heading {
  font-family: Roboto;
  font-size: 24px;
  color: #fd518c;
  opacity: 100%;
  margin-left: 10px;
  margin-top: 35px;
  line-height: 20px;
  white-space: nowrap;
}
.spacer {
  flex: 1 1 auto;
}

img {
  padding-right: 5px;
}
.modify-info-btn {
  color: #fd518c;
  border: 1px solid #fd518c;
  border-radius: 0px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 10px;
  opacity: 100;
}
.modify-app-btn {
  color: #fd518c;
  border: 1px solid #fd518c;
  border-radius: 0px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 10px;
  opacity: 100;
}
.create-app-btn {
  color: #ffffff;
  font-family: Roboto;
  background-color: #ff4081;
  opacity: 90%;
  margin-left: 12px;
  font-size: 12px;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: none;
}
.card-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  margin-left: 80px;
  justify-content: flex-start;
  
}
.card-component {
  margin-top: 20px;
  padding-right:45px;
}
.card-header {
  font-family: Roboto;
  font-size: 12px;
  opacity: 100%;
  display: flex;
  background-color: #d8f7ff;
  align-items: center;
}
.mat-card {
  width: 335px;
  height: 230px;
  padding: 0;
  box-shadow: 1px 1px 1px;
  opacity: 100%;
  border-radius:0; 
}
.mat-card-content {
  margin-top: 20px;
}
.card-content {
  font-family: Roboto;
  color: #838383;
  opacity: 90%;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 25px;
}
.mat-card-footer {
  margin-left: 18px;
}
.footer-btn {
  font-size: 9px;
  margin: 2px;
  padding: 1px 10px 1px 10px;
}
.download-btn-img {
  height: 14px;
}
.modifyapp-btn-img {
  height: 12px;
}
.modifyinfo-btn-img {
  height: 14px;
}
.application-value {
  color: black;
  padding-left: 10px;
}
.modify-app-img {
  height: 15px;
}
.create-app-img {
  height: 35px;
}
.view-img {
  height: 18px;
}
.delete-img {
  height: 18px;
}
#status {
  padding-left: 10px;
}
.checkbox {
  white-space: nowrap;
  margin-left: 10px;
}
.footer-download-btn {
  margin-left: 18px;
}
