*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
node_modules
target/
.metadata
.classpath
.project
.settings/
.vscode/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.DS_Store
*.log
*.zip
*.logs
*.ucls
*.useq
/Key_Store/
/Packet_Store/
dist/*
coverage/*