{
	"openapi": "3.0.1",
	"info": {
		"title": "UIN Generation Service",
		"version": "1.0.0"
	},
	"tags": [
		{
			"name": "Generate UIN",
			"description": "Generate UIN"
		},
		{
			"name": "UIN Status Update",
			"description": "Update UIN status"
		},
		{
			"name": "Operation-handler",
			"description": "Operation Handler"
		}
	],
	"paths": {
		"$servletpath/uin": {
			"get": {
				"tags": [
					"Generate UIN"
				],
				"summary": "Generate UIN",
				"description": "",
				"operationId": "$servletpath/uin",
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "",
									"properties": {
										
									},
									"example": {
										"errors": [
											{
												"errorCode": "string",
												"message": "string"
											}
										],
										"id": "string",
										"metadata": {
											
										},
										"response": {
											"uin": "72638402372"
										},
										"responsetime": "2019-04-22T12:12:12.121Z",
										"version": "string"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error."
					}
				},
				"deprecated": false
			},
			"put": {
				"tags": [
					"UIN Status Update"
				],
				"summary": "Update an UIN status",
				"description": "Update UIN Status",
				"operationId": "$servletpath/uin",
				"parameters": [],
				"requestBody": {
					"description": "JSON object of product",
					"content": {
						"application/json": {
							"schema": {
								"title": "",
								"required": [],
								"type": "",
								"properties": {
									
								},
								"example": {
									"id": "string",
									"metadata": {
										
									},
									"request": {
										"uin": "72638402372",
										"status": "ASSIGNED"
									},
									"requesttime": "2019-04-22T12:12:12.121Z",
									"version": "string"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "UIN Updated."
					},
					"500": {
						"description": "Internal Server Error."
					}
				},
				"deprecated": false
			}
		},
		"$servletpath/actuator/health": {
			"get": {
				"tags": [
					"Operation-handler"
				],
				"summary": "Health Checks",
				"description": "Health Status Checks",
				"operationId": "$servletpath/actuator/health",
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "",
									"properties": {
										
									},
									"example": {
										"checks": [
											{
												"id": "uingeneratorverticle",
												"status": "UP",
												"data": {
													"response": "active"
												}
											},
											{
												"id": "diskspace",
												"status": "UP",
												"data": {
													"total": 249725710336,
													"free": 229261238272,
													"threshold": 10485760
												}
											},
											{
												"id": "db",
												"status": "UP",
												"data": {
													"database": "PostgreSQL",
													"hello": 1
												}
											}
										],
										"details": {
											"uingeneratorverticle": {
												"status": "UP",
												"details": {
													"response": "active"
												}
											},
											"diskspace": {
												"status": "UP",
												"details": {
													"total": 249725710336,
													"free": 229261238272,
													"threshold": 10485760
												}
											},
											"db": {
												"status": "UP",
												"details": {
													"database": "PostgreSQL",
													"hello": 1
												}
											}
										},
										"status": "UP"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error."
					}
				},
				"deprecated": false
			}
		}
	},
	"components": {
		"schemas": {
			"UinResponseDto": {
				"title": "UinResponseDto",
				"required": [],
				"type": "object",
				"properties": {
					"uin": {
						"type": "String"
					}
				}
			},
			"UinStatusUpdateReponseDto": {
				"title": "UinStatusUpdateReponseDto",
				"required": [],
				"type": "object",
				"properties": {
					"uin": {
						"type": "String"
					},
					"status": {
						"type": "String"
					}
				}
			}
		}
	}
}