<div class="container">
  <div class="left-button">
      <a (click)="scrollLeft()"><i class="material-icons">arrow_back</i></a>
  </div>
  <div #widgetsContent class="middle">
    <mat-card *ngFor="let data of availabilityData | slice:0:days; let i = index" 
              [ngClass]="data.holiday ? 'sizing disabled' : selectedTile === i ? 'sizing selected': 'sizing'"
              (click)="dateSelected(i)">
      <p>{{data.displayDate}}</p>
      <p>{{data.TotalAvailable}} spots</p>
    </mat-card>
  </div>
  <div class="right-button">
      <a (click)="scrollRight()"><i class="material-icons">arrow_forward</i></a>
  </div>
</div>
  <div *ngIf="selectedTile !== null" class="container-card">
    <div class="left-button-card">
        <a (click)="scrollLeftCard()"><i class="material-icons">arrow_back</i></a>
    </div>
    <div #cardsContent class="middle-card">
      <div *ngFor="let data of availabilityData[selectedTile].timeSlots; let i = index;">
              <p>{{data.DisplayTime}}</p>
              <mat-card [ngClass]="selectedCard === i ? 'sizing-card selected' : 'sizing-card'"
                        (click)="cardSelected(i)">
                <p>Available: {{data.availability - data.names.length}}</p>
                <p>Selected: {{data.names.length}}</p>
                <div class="list-container">
                  <ul class="list" *ngIf="data.names.length !== 0">
                    <li *ngFor="let name of data.names | slice:0:limit[i]; let j = index;">{{name.fullName}}<i (click)="itemDelete(j)" *ngIf="selectedCard === i" class="material-icons close-button-sizing">close</i></li>
                    <li *ngIf="limit[i] < data.names.length && selectedCard === i" (click)="changeLimit()">more...</li>
                    <li *ngIf="!(selectedCard === i) && limit[i] < data.names.length">more...</li>
                  </ul>
                </div>
                <div class="add-button-container" *ngIf="showAddButton && !(data.availability === data.names.length)">
                  <button mat-fab color="primary" (click)="openDialog()"><i class="material-icons add-icon">add</i></button>
                </div>
              </mat-card>
      </div>
    </div>
    <div class="right-button-card">
        <a (click)="scrollRightCard()"><i class="material-icons">arrow_forward</i></a>
    </div>
    </div>