<mat-card class="time-selection__title-card">
  <mat-card-header>
      <p class="time-selection__title-card-text">Book Appointment</p>
  </mat-card-header>
</mat-card>
<mat-card class="time-selection__date-card">
  <div *ngIf="availabilityData.length !== 0">
    <div class="container">
      <div class="time-selection__arrow-text">
        <p (click)="scrollLeft()">Previous</p>
      </div>
      <div class="left-button">
          <a (click)="scrollLeft()"><i class="material-icons">arrow_back</i></a>
      </div>
      <div #widgetsContent class="middle">
        <mat-card *ngFor="let data of availabilityData | slice:0:days; let i = index" 
                  [ngClass]="data.holiday ? 'sizing disabled' : selectedTile === i ? 'sizing selected': 'sizing'"
                  (click)="dateSelected(i)">
            <mat-card-content style="margin: 10px 0 10px 5px;">
                <p class="time-selection__tile-date-text">{{data.displayDate}}</p>
                <p class="time-selection__tile-date-text">{{data.displayDay}}</p>
                <p class="time-selection__tile-availability-text">{{data.TotalAvailable}} Bookings</p>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="right-button">
          <a (click)="scrollRight()"><i class="material-icons">arrow_forward</i></a>
      </div>
      <div class="time-selection__arrow-text">
          <p (click)="scrollRight()">Next</p>
      </div>
    </div>
    </div>
</mat-card>
<div class="time-seelection__slot-groups-div">
  <p (click)="tabSelected('morning')" [ngClass]="activeTab === 'morning' ? 'time-seelection__slot-groups-div-selected' : 'time-seelection__slot-groups-div p'">Morning</p>
  <p (click)="tabSelected('afternoon')" [ngClass]="activeTab === 'afternoon' ? 'time-seelection__slot-groups-div-selected' : 'time-seelection__slot-groups-div p'">Afternoon</p>
</div>
<div class="time-selection__slots-div">
  <mat-card class="time-selection__time-slots-container">
    <div class="container-card">
      <div *ngIf="availabilityData[selectedTile] !== undefined" #cardsContent class="middle-card">
        <div *ngFor="let data of availabilityData[selectedTile].timeSlots; let i = index;">
                <mat-card [ngClass]="selectedCard === i ? 'card card-content selected-card' : 'card card-content'" (click)="cardSelected(i)">
                  <mat-card-content>
                      <p class="card-time-text">
                          {{data.displayTime}}
                      </p>
                      <p [ngClass]="selectedCard === i ? 'card-slot-text-selected' : 'card-slot-text'">
                          {{data.availability}} slots
                        <span *ngIf="data.names.length !== 0" class="card-slot-text-span-number">{{data.names.length}}</span><span *ngIf="selectedCard === i" class="card-slot-text-span-image"><img src="assets/slots.png" height="10px" width="10px" /></span>
                      </p>
                  </mat-card-content>
                </mat-card>
        </div>
      </div>
      </div>
  </mat-card>
  <mat-card class="time-selection__names-container">
    <div>
      <div *ngIf="availabilityData[selectedTile] !== undefined" class="time-selection__name-list-header">
        <span class="time-selection__names-header-date-text">{{availabilityData[selectedTile].displayDate}}</span>, 
        <span class="time-selection__names-header-date-text">{{availabilityData[selectedTile].displayDay}}</span> <br>
        <span class="time-selection__names-header-time-text">{{availabilityData[selectedTile].timeSlots[selectedCard].displayTime}}</span>, 
        <span class="time-selection__names-header-day-text">morning</span>
      </div>
      <div *ngIf="availabilityData[selectedTile] !== undefined">
        <table class="time-selection__name-list">
          <tr class="time-selection__name-list-item" *ngFor="let item of availabilityData[selectedTile].timeSlots[selectedCard].names; let j = index;">
            <td>{{item.fullName}}</td><td><mat-icon (click)="itemDelete(j)" class="name-delete-button">close</mat-icon></td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="deletedNames.length !== 0">
     <div class="time-selection__name-list-header">
       Available Applicants
     </div>
     <div>
      <table class="time-selection__name-list">
        <tr class="time-selection__name-list-item" *ngFor="let item of deletedNames; let k = index;">
          <td>{{item.fullName}}</td><td><mat-icon (click)="addItem(k)" class="name-delete-button">add</mat-icon></td>
        </tr>
      </table>
     </div>
    </div>
  </mat-card>
</div>

<div>
  <mat-card class="center-selection__button-container">
    <button mat-button class="user-back-btn">Back</button>
    <span class="spacer"></span>
    <button mat-button class="user-book_later-btn">Book Later</button>
    <button mat-button (click)="makeBooking()" class="user-continue-btn">Continue</button>
  </mat-card>
</div>

