swagger: '2.0'
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation
  termsOfService: 'urn:tos'
  contact: {}
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: 'integ.mosip.io:443'
basePath: /document
tags:
  - name: Document Handler
    description: Document Controller
paths:
  /v0.1/pre-registration/copyDocuments:
    post:
      tags:
        - Document Handler
      summary: Copy uploaded document
      operationId: copyDocumentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: catCode
          in: query
          description: catCode
          required: true
          type: string
        - name: destinationPreId
          in: query
          description: destinationPreId
          required: true
          type: string
        - name: sourcePrId
          in: query
          description: sourcePrId
          required: true
          type: string
      responses:
        '200':
          description: Document successfully copied
          schema:
            $ref: '#/definitions/MainListResponseDTO«DocumentCopyResponseDTO»'
        '201':
          description: Created
        '400':
          description: Document copying failed
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v0.1/pre-registration/deleteAllByPreRegId:
    delete:
      tags:
        - Document Handler
      summary: Delete all documents by pre-registration Id
      operationId: deleteAllByPreIdUsingDELETE
      produces:
        - application/json
      parameters:
        - name: pre_registration_id
          in: query
          description: pre_registration_id
          required: true
          type: string
      responses:
        '200':
          description: Documents successfully deleted
          schema:
            $ref: '#/definitions/MainListResponseDTO«DocumentDeleteResponseDTO»'
        '204':
          description: No Content
        '400':
          description: Documents failed to delete
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v0.1/pre-registration/deleteDocument:
    delete:
      tags:
        - Document Handler
      summary: Delete document by document Id
      operationId: deleteDocumentUsingDELETE
      produces:
        - application/json
      parameters:
        - name: documentId
          in: query
          description: documentId
          required: true
          type: string
      responses:
        '200':
          description: Document successfully deleted
          schema:
            $ref: '#/definitions/MainListResponseDTO«DocumentDeleteResponseDTO»'
        '204':
          description: No Content
        '400':
          description: Document failed to delete
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v0.1/pre-registration/documents:
    post:
      tags:
        - Document Handler
      summary: Document Upload
      operationId: fileUploadUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - in: formData
          name: Document request
          description: Document request
          required: true
          schema:
            type: string
        - name: file
          in: formData
          description: file
          required: true
          type: file
      responses:
        '200':
          description: Document uploaded successfully
          schema:
            $ref: '#/definitions/MainListResponseDTO«DocumentResponseDTO»'
        '201':
          description: Created
        '400':
          description: Document uploaded failed
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v0.1/pre-registration/getDocument:
    get:
      tags:
        - Document Handler
      summary: Get All Document for Pre-Registration Id
      operationId: getAllDocumentforPreidUsingGET
      produces:
        - application/json
      parameters:
        - name: pre_registration_id
          in: query
          description: pre_registration_id
          required: true
          type: string
      responses:
        '200':
          description: Documents reterived successfully
          schema:
            $ref: '#/definitions/MainListResponseDTO«DocumentMultipartResponseDTO»'
        '400':
          description: Documents failed to reterive
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
definitions:
  DocumentCopyResponseDTO:
    type: object
    properties:
      sourcePreRegId:
        type: string
        description: Source PreReg ID
      sourceDocumnetId:
        type: string
        description: Source Documnet ID
      destPreRegId:
        type: string
        description: Destination PreReg ID
      destDocumnetId:
        type: string
        description: Destination Documnet ID
    title: DocumentCopyResponseDTO
  DocumentDeleteResponseDTO:
    type: object
    properties:
      documnet_Id:
        type: string
      resMsg:
        type: string
    title: DocumentDeleteResponseDTO
  DocumentMultipartResponseDTO:
    type: object
    properties:
      doc_cat_code:
        type: string
      doc_file_format:
        type: string
      doc_id:
        type: string
      doc_name:
        type: string
      doc_typ_code:
        type: string
      multipartFile:
        type: string
        format: byte
      prereg_id:
        type: string
    title: DocumentMultipartResponseDTO
  DocumentResponseDTO:
    type: object
    properties:
      documentCat:
        type: string
      documentName:
        type: string
      documentType:
        type: string
      documnetId:
        type: string
      preRegistrationId:
        type: string
      resMsg:
        type: string
    title: DocumentResponseDTO
  ExceptionJSONInfoDTO:
    type: object
    properties:
      errorCode:
        type: string
      message:
        type: string
    title: ExceptionJSONInfoDTO
  InputStream:
    type: object
    title: InputStream
  MainListResponseDTO«DocumentCopyResponseDTO»:
    type: object
    properties:
      err:
        description: error details
        $ref: '#/definitions/ExceptionJSONInfoDTO'
      status:
        type: boolean
        description: status
      resTime:
        type: string
        description: response time
      response:
        type: array
        description: response
        items:
          $ref: '#/definitions/DocumentCopyResponseDTO'
    title: MainListResponseDTO«DocumentCopyResponseDTO»
  MainListResponseDTO«DocumentDeleteResponseDTO»:
    type: object
    properties:
      err:
        description: error details
        $ref: '#/definitions/ExceptionJSONInfoDTO'
      status:
        type: boolean
        description: status
      resTime:
        type: string
        description: response time
      response:
        type: array
        description: response
        items:
          $ref: '#/definitions/DocumentDeleteResponseDTO'
    title: MainListResponseDTO«DocumentDeleteResponseDTO»
  MainListResponseDTO«DocumentMultipartResponseDTO»:
    type: object
    properties:
      err:
        description: error details
        $ref: '#/definitions/ExceptionJSONInfoDTO'
      status:
        type: boolean
        description: status
      resTime:
        type: string
        description: response time
      response:
        type: array
        description: response
        items:
          $ref: '#/definitions/DocumentMultipartResponseDTO'
    title: MainListResponseDTO«DocumentMultipartResponseDTO»
  MainListResponseDTO«DocumentResponseDTO»:
    type: object
    properties:
      err:
        description: error details
        $ref: '#/definitions/ExceptionJSONInfoDTO'
      status:
        type: boolean
        description: status
      resTime:
        type: string
        description: response time
      response:
        type: array
        description: response
        items:
          $ref: '#/definitions/DocumentResponseDTO'
    title: MainListResponseDTO«DocumentResponseDTO»