<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>MOSIP</title>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css"></link>
<style>
@page {
	size: 8.5in 11in;
	margin: 1cm;
	border: 1px solid black;
}

.subpage {
	padding: 1cm;
	height: 256mm;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 2px solid black;
}
</style>
</head>
<body>
	<div class="page">
		<div class="subpage">
			<br />
			<div class="col-sm-12" style="text-align: center;">E-KYC</div>
			<div class="col-sm-12">POI</div>
			<div class="col-sm-12"
				style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border: 1px solid black;">
				<div class="col-sm-4">
					<img src=$photoUrl 
						alt="Photo"  class="center"/>
				</div>
				<div class="col-sm-8">
					<table>
						<tbody>
							<tr class="row">
								<td class="col-md-6">$uin_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$uin_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$name_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$name_pri
								</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$dateOfBirth_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$dateOfBirth_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$gender_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$gender_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$phone_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$phone_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$email_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$email_pri</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><div class="col-sm-12" style="padding-top: 20px;">POA</div>
			<div class="col-sm-12"
				style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border: 1px solid black;">
				<div class="col-sm-10">
					<table>
						<tbody>
							<tr class="row">
								<td class="col-md-6">$addressLine1_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine1_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$addressLine2_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine2_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$addressLine3_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine3_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$city_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$city_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$region_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$region_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$province_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$province_pri</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$postalCode_label_pri</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$postalCode_pri</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="subpage">
			<br />
			<div class="col-sm-12" style="text-align: center;">E-KYC</div>
			<div class="col-sm-12">POI</div>
			<div class="col-sm-12"
				style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border: 1px solid black;">
				<div class="col-sm-4">
					<img src=$photoUrl 
						alt="Photo"  class="center"/>
				</div>
				<div class="col-sm-8">
					<table>
						<tbody>
							<tr class="row">
								<td class="col-md-6">$uin_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$uin_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$name_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$name_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$dateOfBirth_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$dateOfBirth_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$gender_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$gender_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$phone_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$phone_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$email_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$email_sec</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-12" style="padding-top: 20px;">POA</div>
			<div class="col-sm-12"
				style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border: 1px solid black;">
				<div class="col-sm-10">
					<table>
						<tbody>
							<tr class="row">
								<td class="col-md-6">$addressLine1_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine1_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$addressLine2_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine2_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$addressLine3_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine3_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$city_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$city_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$region_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$region_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$province_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$province_sec</td>
							</tr>
							<tr class="row">
								<td class="col-md-6">$postalCode_label_sec</td>
								<td class="col-md-6"
									style="border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$postalCode_sec</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>