<html>
<head>
</head>
<br />
<br />
<br />
<br />
<br />
<table style="width:100%;color: Black; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-bottom-color: #000000; border-left-color: #000000; border-top-color: #000000; border-right-color: #000000; border-right-style: solid; border-left-style: solid; border-bottom-style: solid; border-top-style: solid" >
<tbody>
<tr>
<td style="text-align: center;">&nbsp;E-KYC</td>
</tr>
<tr style="border-color: black;">
<td style=" padding-left:30px; padding-bottom:30px; padding-right:30px;border-color: black;">
<table style="width:100%;">
						<tbody>
							<tr>
								<td style="padding-top:10px">POI</td>
							</tr>
							<tr>
								<td style="width:50%;">
								<table style="width:100%;padding:10px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">
										<tbody>
											<tr>
												<td>
												<table>
												<tbody>
												<tr style="align: center;padding-left:30px;">
												<td><img src=$photoUrl 
                width="70%" height="70%" border="2" alt="Photo" style="display: block;vertical-align: bottom;padding-left:30px;"/></td>
												</tr>
												</tbody>
												</table>

</td>
												<td style="width:50%;padding:20px;padding-left:20px;">
												<table>
												<tbody>
												<tr>
												<td>$uin_label_pri</td>
												<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$uin_pri</td>
												</tr>
												<tr>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												</tr>
												<tr>
												<td>$name_label_pri</td>
												<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$name_pri</td>
												</tr>
												<tr>
												<td>$gender_label_pri</td>
												<td style="padding-left:5px;border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$gender_pri</td>
												</tr>
												</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="padding-top:10px">POA</td>
							</tr>
							<tr>
								<td>
								<table style="width:100%;padding:10px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid; ">
								<tbody>
								<tr>
								<td style="width:100%;vertical-align:top">
								<table>
								<tbody>
								<tr>
								<td>$addressLine1_label_pri &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine1_pri</td>
								</tr>
								<tr>
								<td>$addressLine2_label_pri &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine2_pri</td>
								</tr>
								<tr>
								<td>$addressLine3_label_pri &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine3_pri</td>
								</tr>
								<tr>
								<td>$city_label_pri &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$city_pri</td>
								</tr>
								<tr>
								<td>$region_label_pri &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$region_pri</td>
								</tr>
								<tr>
								<td>$province_label_pri &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$province_pri</td>
								</tr>
								</tbody>
								</table>
								</td>
								</tr>
								</tbody>
								</table>
</td>
							</tr>
						</tbody>
					</table>
				</td>
</tr>
</tbody>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<table style="width:100%;color: Black; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-bottom-color: #000000; border-left-color: #000000; border-top-color: #000000; border-right-color: #000000; border-right-style: solid; border-left-style: solid; border-bottom-style: solid; border-top-style: solid" >
<tbody>
<tr>
<td style="text-align: center;">&nbsp;E-KYC</td>
</tr>
<tr style="border-color: black;">
<td style=" padding-left:30px; padding-bottom:30px; padding-right:30px;border-color: black;">
<table style="width:100%;">
						<tbody>
							<tr>
								<td style="padding-top:10px">POI</td>
							</tr>
							<tr>
								<td style="width:50%;">
								<table style="width:100%;padding:10px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">
										<tbody>
											<tr>
												<td>
												<table>
												<tbody>
												<tr style="align: center;padding-left:30px;">
												<td><img src=$photoUrl 
                width="70%" height="70%" border="2" alt="Photo" style="display: block;vertical-align: bottom;padding-left:30px;"/></td>
												</tr>
												</tbody>
												</table>

</td>
												<td style="width:50%;padding:20px;padding-left:20px;">
												<table>
												<tbody>
												<tr>
												<td>$uin_label_sec</td>
												<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$uin_sec</td>
												</tr>
												<tr>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												</tr>
												<tr>
												<td>$name_label_sec</td>
												<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$name_sec</td>
												</tr>
												<tr>
												<td>$gender_label_sec</td>
												<td style="padding-left:5px;border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$gender_sec</td>
												</tr>
												</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="padding-top:10px">POA</td>
							</tr>
							<tr>
								<td>
								<table style="width:100%;padding:10px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid; ">
								<tbody>
								<tr>
								<td style="width:100%;vertical-align:top">
								<table>
								<tbody>
								<tr>
								<td>$addressLine1_label_sec &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine1_sec</td>
								</tr>
								<tr>
								<td>$addressLine2_label_sec &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine2_sec</td>
								</tr>
								<tr>
								<td>$addressLine3_label_sec &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$addressLine3_sec</td>
								</tr>
								<tr>
								<td>$city_label_sec &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$city_sec</td>
								</tr>
								<tr>
								<td>$region_label_sec &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$region_sec</td>
								</tr>
								<tr>
								<td>$province_label_sec &nbsp;</td>
								<td style="padding-left:5px; border-right-style: solid; border-top-width: 1px; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-bottom-style: solid; border-left-width: 1px; border-top-style: solid">$province_sec</td>
								</tr>
								</tbody>
								</table>
								</td>
								</tr>
								</tbody>
								</table>
</td>
							</tr>
						</tbody>
					</table>
				</td>
</tr>
</tbody>
</table>
</body>
</html>