/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.icon {
  margin: 5px;
  vertical-align: middle;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #696f7c !important;
}

.mat-error {
  color: #e44c29;
}

.mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #ff4081;
}

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: rgba(255, 64, 129, 0.54);
}

.mat-button-toggle-focus-overlay {
  border-bottom: none !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: #f19f8c;
}

.user__gender mat-button-toggle-group .mat-button-toggle .mat-button-toggle-button .mat-button-toggle-label-content {
  padding: 0;
  line-height: 30px;
}

@media (max-width: 500px) {
  .mat-keyboard .mat-raised-button {
    font-size: 10px;
    line-height: 12px;
    margin-left: -30px;
    padding: 0;
    height: 20px;
  }
}
.user__date .mat-form-field-label {
  text-align: center;
}
