<div class="container-fluid">
  <div class="preview-header">Preview</div>
  <div class="preview-content">
    <div class="preview-content-lang" *ngFor="let previewData of previewData">
      <div class="preview-content-lang_name">
        Language-{{ previewData.Language }}
      </div>
      <div *ngFor="let data of previewData.data">
        <div class="preview-content-subheading">{{ data.key }}</div>
        <hr />
        <div class="preview-content-row" *ngFor="let row of data.data">
          <div class="ack-userInfo_label">{{ row.key }}</div>
          <div class="ack-userInfo_separator">:</div>
          <div class="ack-userInfo_data">{{ row.value }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="preview-actionButton-container">
    <button id="back" type="button">BACK</button>
    <button id="add_applicant" type="button">ADD APPLICANT</button>
    <button id="continue" type="button">CONTINUE</button>
  </div>
  <div class="preview-doc-container"></div>
</div>
