.login-container {
  max-width: 100%;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.mat-card {
  padding: 0;
  margin: 0;
}
.login-card {
  width: 28em;
  height: 25rem;
}
.login-title-one,
.login-title-two {
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  opacity: 0.8;
}
.image-icon {
  display: flex;
  justify-content: center;
}
.mosip-icon {
  padding-top: 10px;
  height: 5rem;
  width: 5rem;
}
.login-form {
  max-width: 100%;
  padding: 30px;
  padding-bottom: 0;
}
.input-full-width {
  width: 100%;
}
.forgot-username-link {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.7rem;
  opacity: 0.6;
}
.button-container {
  padding-top: 2em;
  padding-right: 1.4rem;
  display: flex;
  justify-content: flex-end;
}
.proceed-button {
  background-color: rgb(27, 27, 27);
  color: rgb(255, 253, 253);
  border-radius: 0;
  padding-left: 25px;
  padding-right: 25px;
}
.validation{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-size: 12px;
  word-spacing: 1px;
  color: rgb(206, 14, 14);
  animation: 0.5s valAnim  forwards ;
}
@keyframes valAnim {
  from{
    opacity: 0;
    transform: translateY(-8px)
  }
  to{
    opacity: 1;
    transform: translateY(0px)
  }
}