<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>
      <div class="login-title-one"><span>WELCOME TO</span></div>
      <div class="image-icon">
        <img src="assets/logo-final.png" class="mosip-icon" />
      </div>
      <div class="login-title-two"><span>MOSIP ADMIN</span></div>
    </mat-card-title>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(username.value)">
        <div class="login-form-input">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="USER NAME"
              formControlName="username"
              #username
            />
          </mat-form-field>
        </div>
        <div class="validation" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched" >{{usernameValidity}}</div>
        <div class="validation" *ngIf="invaildUserName" >Invaild Username</div>
        <div class="forgot-username-link">
          <a>Forgot User Name</a>
        </div>
        <div class="button-container">
          <button
          type="submit"
            mat-raised-button
            class="proceed-button"
            [disabled]="!loginForm.valid"
          >
            Proceed
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
