.otp-authentication-container {
    max-width: 100%;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .otp-authentication-card {
    width: 28em;
    height: 17rem;
  }
  .forgot-password-title {
    font-family: sans-serif;
    font-size: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left:15px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
  }
  .button-container {
    padding-top: 2em;
    padding-right: 1.4rem;
    display: flex;
    justify-content: flex-end;
  }
  .verify-button {
    background-color: rgb(27, 27, 27);
    color: rgb(255, 253, 253);
    border-radius: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .resend-otp-title{
    
    color: rgb(173, 58, 58);
    padding-top: 1em;

  }