table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: visible;
  width:800px;
}
td,
th {
  border: 1px solid rgb(180, 180, 180);
  height: 24px;
  text-align: center;
  padding: 8px;
}
th {
  background: #d3d3d3;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-size: 13px;
}
td {
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-size: 12px;
  font-weight: bold;
}
