:root {
  --text-size: 0.8rem;
}

:ng-deep .mat-focused {
  border-bottom: 1px solid #22a8c9;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #22a8c9;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}

.wrapper {
  background-color: #f4f4f4;
  z-index: -1;
  overflow-x: hidden;
  margin: 0px 2vw;
  padding-top: 0;
  padding-bottom: 0;
  color: #666666;
}

.user {
  background-color: #ffffff;
  z-index: 1;
  margin: auto;
  padding: 1.2rem 2rem 0 2rem;
  padding-top: 1.2rem;
  background-color: white;
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: inline-block;
}

.user header {
  margin: 0;
  font-weight: bold;
  color: #fd518c;
}

.user hr {
  border-top: 1.5px solid #fd518c;
  position: relative;
  left: -31.8px;
  margin-top: 0.5rem;
  width: calc(100% + 64px);
}

.user__container {
  font-size: 0.8rem;
  /* box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3); */
  padding: 1rem 0rem 1rem 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  /* margin-left: 2%; */
  float: left;
}

.test1 {
  /* margin-left: 4%; */
}

/* .user__container:focus-within {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
} */

.user__container h6 {
  font-weight: bold;
  color: #2f3033;
}

.user__form[_ngcontent-c17] {
  width: 100%;
  /* margin: auto; */
}

.user__form h4 {
  margin: 0;
  padding-left: 3px;
  padding-bottom: 8px;
  text-transform: capitalize;
}

mat-icon {
  position: relative;
  top: 3px;
  font-size: 14px;
  left: -16px;
  display: none;
}

.user__form mat-form-field {
  /* width: 92%; */
  width: 95%;
  padding: 3px;
  color: #838383;
  font-size: 0.8rem;
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none;
}

.user__age-or-date {
  display: flex;
  width: 87.5%;
  align-items: center;
}

.user__age-or-date > div {
  width: 33.3%;
}

.user__date {
  display: flex;
}

.user__form .user__date mat-form-field {
  width: 32%;
  text-align: center;
}

.user__pref {
  text-align: center;
}

.user__age {
  text-align: end;
  display: flex;
  justify-content: flex-start;
}

.user__age mat-form-field {
  width: 32%;
  text-align: center;
}

.user__age .user__age--years {
  /* align-items: center; */
  align-self: center;
}

.user__age--disabled {
  font-size: 0.8rem;
  color: #595f6e;
}

.user__dob__error {
  left: 3px;
  position: relative;
  top: -15px;
  font-size: 75%;
}

.user__genderAndForeigner {
  font-weight: inherit;
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 6px;
  margin-top: 0px;
  padding-left: 2px;
}

.user__genderAndForeigner mat-button-toggle-group {
  box-shadow: none;
  width: 54%;
}

.user__genderAndForeigner mat-button-toggle {
  font-family: Helvetica, Regular;
  font-size: 0.8rem;
  margin: 10px 0px 10px 0px;
  color: #fd518c;
  width: 80%;
  max-width: 124px;
  padding: 0.2rem 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.068);
}

.user__genderAndForeigner .mat-button-toggle-checked {
  background-color: #fd518c;
  color: white;
}

.user__gender__error {
  left: 3px;
  position: relative;
  top: -5px;
  font-size: 75%;
}

.user__genderAndForeigner--text {
  width: 37%;
  font-size: 0.8rem;
  align-self: center;
  padding-right: 4px;
}

.test2 {
  display: none;
}

.user__dropdown {
  width: 48.7%;
  /* width: 48%; */
  /* margin-right: 3%; */
  display: inline-block;
}

.user__buttons {
  width: 100%;
  position: sticky;
  bottom: 2px;
  left: -2px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  background-color: white;
  border-top: 5px solid #f4f4f4;
  padding: 0 2vw;
}

.user__btn {
  background-color: #ff4081;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 6px 2px 4px 2px;
  margin-right: 2rem;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
}

.user__btn--back {
  border: 1px solid #ff4081;
  background-color: white;
  color: #ff4081;
  margin-left: 2rem;
  text-transform: uppercase;
}

.user__btn--continue {
  margin-right: 61px;
  text-transform: uppercase;
}

.user__btn:disabled,
.user__btn:active {
  border: 1px solid lightgray;
  background-color: lightgray;
  color: #2f3033;
  cursor: default;
}

::ng-deep .mat-button-toggle-button {
  text-transform: uppercase;
}

:ng-deep .mat-form-field-invalid .mat-input-element {
  caret-color: #ff0000;
  color: #ff0000;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: lightgrey;
  border-bottom: 2px solid #22a8c9;
}

@media (max-width: 798px) {
  .user__container {
    width: 100%;
    float: none;
  }

  .genderAndForeigner {
    display: flex;
  }

  .genderAndForeigner--foreigner {
    align-self: center;
  }

  .user__genderAndForeigner--text {
    width: 37%;
  }
}

@media (max-width: 1000px) {
  .user__genderAndForeigner mat-button-toggle {
    margin: 6px 4px 1px 1px;
    padding: 0.2rem 0;
  }

  .user__age-or-date {
    width: 92%;
  }

  user__age-or-date .user__age {
    width: 78px;
    text-align: end;
  }

  .user__gender__error {
    top: 0px;
  }

  .genderAndForeigner--foreigner {
    margin-top: 0.8rem;
    font-size: 0.8rem;
  }
}
