.ack-container {
  margin: 20px 2vw;
  padding: 0 0 50px 0;
}
.spinner-loading-data {
  margin-left: 43%;
  margin-top: 10%;
}
.spinner-wrapper {
  width: 100%;
  height: 100%;
  background: #00000036;
  position: fixed;
  opacity: 0.7;
  top: 0px;
  z-index: 999999;
}

.bottom-margin {
  margin-bottom: 100px;
}

.ack__guidelines {
  padding-right: 10%;
  word-break: break-word;
}

.ack__guidelines li {
  list-style-type: none;
}

.ack__header {
  color: #ff4081;
  width: 100%;
  font-size: 1rem;
}

.ack__header-container {
  padding: 0;
  border-bottom: 1px solid #ff4081;
}

.ack__header-container hr {
  left: 0;
  width: 100%;
  border: 1px solid #ff4081;
  height: 1px;
  color: #ff4081;
  margin-top: 36.5px;
}

.ack__header hr {
  left: 0;
  width: 100%;
  border: 1px solid #ff4081;
  height: 1px;
  color: #ff4081;
  margin-top: -11.5px !important;
}

.ack__button-container {
  width: 100%;
  /* height: 70px; */
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 2vw;
  display: flex;
  z-index: 22;
}

.spacer {
  flex: 1 1 auto;
}

.ack-book_later-btn {
  background-color: #fff;
  border: 1px solid #ff4081;
  color: #ff4081;
  padding: 0px 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0 4px 1.2rem;
  cursor: pointer;
  border-radius: 0;
}
.ack-continue-btn {
  background-color: #ff4081;
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 0px 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2rem 4px 1.2rem !important;
  cursor: pointer;
}

.ack__message-container {
  padding: 1px 0px;
  background-color: #eafaea;
  color: green;
  margin: 0 2rem;
}

.ack__body-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 2rem;
  border-bottom: 1px dashed #c9c9c9;
}

table tr td {
  padding: 10px 5px 10px 0px;
}

.ack__qr-code {
  width: 150px;
  height: 150px;
}

.ack__qr-code img {
  width: 100%;
  height: auto;
}

.ack__guidelines-container {
  margin: 20px 2rem;
}

#table-container table {
  max-width: 400px;
  table-layout: fixed;
}

@media (max-width: 500px) {
  .ack-container {
    margin: 5px;
  }

  .ack-book_later-btn {
    font-size: 8px;
    padding: 5px;
  }

  .ack__header {
    white-space: nowrap;
    margin-left: -31px !important;
  }

  .ack__header-container hr {
    margin-top: 36.5px;
  }

  .ack__message-container {
    padding-left: 0;
  }

  .ack-book_later-btn,
  .ack-continue-btn {
    font-size: 10px;
    padding: 0px 2px;
    margin-right: 20px;
  }
}
