<div class="wrapper">
  <div class="ack-appointmentConfirm">{{ message1 }}</div>
  <div class="ack-appointmentMessage">
    <img class="done" src="assets/img/done.png" />{{ message2 }}
  </div>
  <div class="ack-container">
    <div  *ngFor="let user of usersInfo">
      <div class="ack-userInfo-container">
        <div class="ack-userInfo">
          <div class="ack-userInfo_row">
            <div class="ack-userInfo_label">Name</div>
            <div class="ack-userInfo_separator">:</div>
            <div class="ack-userInfo_data">{{user.fullName}}</div>
          </div>
          <div class="ack-userInfo_row">
            <div class="ack-userInfo_label">Pre Registration ID</div>
            <div class="ack-userInfo_separator">:</div>
            <div class="ack-userInfo_data">{{user.preRegId}}</div>
          </div>
          <div class="ack-userInfo_row">
            <div class="ack-userInfo_label">Registration Center</div>
            <div class="ack-userInfo_separator">:</div>
            <div class="ack-userInfo_data">{{user.registrationCenter.addressLine1}}, {{user.registrationCenter.addressLine2}}, {{user.registrationCenter.addressLine2}}</div>
          </div>
          <div class="ack-userInfo_row">
            <div class="ack-userInfo_label">Center Contact Number</div>
            <div class="ack-userInfo_separator">:</div>
            <div class="ack-userInfo_data">{{user.registrationCenter.contactPhone}}</div>
          </div>
          <div class="ack-userInfo_row">
            <div class="ack-userInfo_label">Appointment Date & Time</div>
            <div class="ack-userInfo_separator">:</div>
            <div class="ack-userInfo_data">{{user.bookingData}}</div>
          </div>   
          </div>
        <div class="ack-userInfo_qr-code">
          <img src="assets/img/QR_code.png" />
        </div>
      </div>
      <div class="ack-guidelines-container">
        <div>Important Guidelines</div>
        <ul>
          <li>Guidelines yet to be decided.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ack-actionButton-container">
    <button id="download" type="button">DOWNLOAD</button>
    <button id="print" type="button">PRINT</button>
  </div>
</div>
