<div style="display: flex;">
  <div *ngIf="display">
      <mat-card class="sidebar">
          <ul>
            <li *ngFor="let item of menuItems; let i = index;" [ngClass]="selectedItem === i ? 'selected' : ''" (click)="changeSelection(i)">
              <i class="material-icons">apps</i>&nbsp;<span class="icon">{{item}}</span>
            </li>
          </ul>
        </mat-card>
  </div>
  <div>
      <i *ngIf="display" (click)="hideMenu()" class="material-icons pointer">close</i>
      <i *ngIf="!display" (click)="showMenu()" class="material-icons pointer">arrow_forward_ios</i>
  </div>
</div>