<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <mat-card-title>
      <div class="forgot-password-title"><span>Forgot Password</span></div>
      <mat-divider [inset]="true"></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <form class="forgot-password-form">
        <div class="forgot-password-input">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Enter Mobile Number" />
          </mat-form-field>
        </div>
      </form>
      <div class="button-container">
        <button mat-raised-button class="submit-button" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>