<div class="container">
  <form [formGroup]="otpAuthenticationForm" class="otp-authentication-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="ENTER OTP" type="password" formControlName="otp" />
    </mat-form-field>

    <div class="valid-timer">
      <span class="timer">Valid :</span><span id="timer">02:00</span>
    </div>
    <div>
      <span class="resend-otp-title" (click)="resendOTP()">Resend OTP</span>
    </div>
    <div class="button-container">
      <button *ngIf="!otpExpiryTimeReached" [disabled]="!otpAuthenticationForm.valid"  type="submit" mat-raised-button
        class="submit-button">
        Verify
      </button>
    </div>
  </form>
</div>