.container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

mat-card {
    height: 50px;
    width: 340px;
    margin: 20px 25px;
    z-index: 0;
    text-align: center;
    padding-top: 60px;
    cursor: pointer !important;
}