<div>
  <div class="wrapper">
    <div class="user">
      <header>Demographic Details</header>
      <hr />
      <div class="user__container">
        <form [formGroup]="userForm" class="user__form">
          <h6>Language - English</h6>

          <mat-form-field>
            <input matInput #fullName maxlength="50" placeholder="{{ demo.fullName }}" formControlName="fullName" />
            <mat-hint align="end">{{ fullName.value.length }} / 50</mat-hint>
            <mat-error *ngIf="!fullName.invalid">Full Name is required</mat-error>
          </mat-form-field>

          <div class="user__age-or-date">
            <div class="user__date">
              <mat-form-field>
                <input matInput placeholder="{{ demo.date }}" #dd formControlName="date" (focusout)="onDOBChange()" />
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{ demo.month }}" #mm formControlName="month" (focusout)="onDOBChange()" />
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{ demo.year }}" #yyyy formControlName="year" (focusout)="onDOBChange()" />
              </mat-form-field>
            </div>

            <div class="user__pref">OR</div>
            <div class="user__age">
              <mat-form-field>
                <input
                  matInput
                  tabindex="-1"
                  formControlName="age"
                  placeholder="{{ demo.age }}"
                  #age
                  (focusout)="onAgeChange()"
                />
              </mat-form-field>
              <span>Years</span>
            </div>
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="userForm.get('age').touched && !userForm.get('age').valid"
          >
            Age should be less than 150
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="!userForm.get('date').valid && userForm.get('date').touched"
          >
            Enter 2 numeric digits for date
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="!userForm.get('month').valid && userForm.get('month').touched"
          >
            Enter 2 numeric digits for month
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="!userForm.get('year').valid && userForm.get('year').touched"
          >
            Enter 4 numeric digits for years
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="userForm.get('dob').touched && userForm.get('dob').errors['incorrect']"
          >
            Enter Valid DOB (Age should be less than 150)
          </div>

          <div class="user__gender">
            Gender
            <mat-button-toggle-group
              formControlName="gender"
              (change)="onGenderChange($event.value)"
              appearance="legacy"
              name="fontStyle"
              aria-label="Font Style"
            >
              <mat-button-toggle value="male">Male</mat-button-toggle>
              <mat-button-toggle value="female">Female</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div
            class="mat-error ng-star-inserted user__gender__error"
            *ngIf="userForm.get('gender').touched && userForm.get('gender').invalid"
          >
            Please select gender
          </div>

          <mat-form-field>
            <input
              matInput
              #addressLine1
              maxlength="50"
              placeholder="{{ demo.addressLine1 }}"
              formControlName="addressLine1"
              (focusout)="onGenderChange()"
            />
            <mat-hint align="end">{{ addressLine1.value.length }} / 50</mat-hint>
            <mat-error *ngIf="!addressLine1.invalid">Address Line 1 is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #addressLine2
              maxlength="50"
              placeholder="{{ demo.addressLine2 }}"
              formControlName="addressLine2"
            />
            <mat-hint align="end">{{ addressLine2.value.length }} / 50</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #addressLine3
              maxlength="50"
              placeholder="{{ demo.addressLine3 }}"
              formControlName="addressLine3"
            />
            <mat-hint align="end">{{ addressLine3.value.length }} / 50</mat-hint>
          </mat-form-field>

          <div class="user__dropdown">
            <mat-form-field>
              <mat-select placeholder="{{ demo.region }}" formControlName="region" #region>
                <mat-option value="option">Region1</mat-option>
                <mat-option value="option2">Region2</mat-option>
                <mat-option value="option3">Region3</mat-option>
              </mat-select>
              <mat-error *ngIf="!region.invalid">Please select region</mat-error>
            </mat-form-field>
          </div>

          <div class="user__dropdown">
            <mat-form-field>
              <mat-select placeholder="{{ demo.province }}" formControlName="province" #province>
                <mat-option value="option1">Province1</mat-option>
                <mat-option value="option2">Province2</mat-option>
                <mat-option value="option3">Province3</mat-option>
              </mat-select>
              <mat-error *ngIf="!province.invalid">Please select province</mat-error>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <mat-select placeholder="{{ demo.city }}" formControlName="city" #city>
                <mat-option value="option1">City1</mat-option>
                <mat-option value="option2">City2</mat-option>
                <mat-option value="option3">City3</mat-option>
              </mat-select>
              <mat-error *ngIf="!city.invalid">Please select city</mat-error>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <mat-select
                placeholder="{{ demo.localAdministrativeAuthority }}"
                formControlName="localAdministrativeAuthority"
                #authority
              >
                <mat-option value="option1">LAA1</mat-option>
                <mat-option value="option2">LAA2</mat-option>
                <mat-option value="option3">LAA3</mat-option>
              </mat-select>
              <mat-error *ngIf="!authority.invalid">Please select localAdministrativeAuthority</mat-error>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input
                matInput
                type="text"
                #postalCode
                maxlength="5"
                placeholder="{{ demo.postalCode }}"
                formControlName="postalCode"
                #postalCode
              />
              <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
              <mat-error *ngIf="!postalCode.invalid">Please enter valid postalCode</mat-error>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input
                matInput
                #mobilePhone
                type="text"
                maxlength="9"
                placeholder="{{ demo.mobileNumber }}"
                formControlName="mobilePhone"
              />
              <mat-hint align="end">{{ mobilePhone.value.length }} / 9</mat-hint>
              <mat-error *ngIf="!mobilePhone.invalid">Please enter valid mobile number</mat-error>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input #email maxlength="50" matInput placeholder="{{ demo.emailId }}" formControlName="email" />
              <mat-hint align="end">{{ email.value.length }} / 50</mat-hint>
              <mat-error *ngIf="!email.invalid">Please enter valid email id</mat-error>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input
                #pin
                maxlength="30"
                matInput
                type="text"
                placeholder="{{ demo.CNEOrPINNumber }}"
                formControlName="pin"
              />
              <mat-hint align="end">{{ pin.value.length }} / 30</mat-hint>
              <mat-error *ngIf="!pin.invalid">Please enter valid pin</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="user__container">
        <form #f="ngForm" class="user__form">
          <h6>Language - Arabic</h6>
          <mat-form-field>
            <input
              matInput
              maxlength="50"
              placeholder="{{ demo1.fullName }}"
              ngModel
              name="t_fullName"
              #t_fullName
              (focusout)="noWhitespaceValidatorHTML(transForm.controls.t_fullName)"
            />
            <mat-hint align="end">{{ t_fullName.value.length }} / 50</mat-hint>
            <mat-error *ngIf="!t_fullName.invalid">Full Name is required</mat-error>
          </mat-form-field>

          <div class="user__age-or-date">
            <div class="user__date">
              <mat-form-field>
                <input
                  [disabled]="true"
                  [ngModel]="userForm.get('date').value"
                  name="t_date"
                  matInput
                  placeholder="{{ demo1.date }}"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  [disabled]="true"
                  [ngModel]="userForm.get('month').value"
                  name="t_month"
                  matInput
                  placeholder="{{ demo1.month }}"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  [disabled]="true"
                  [ngModel]="userForm.get('year').value"
                  name="t_year"
                  matInput
                  placeholder="{{ demo1.year }}"
                />
              </mat-form-field>
            </div>

            <div class="user__pref">OR</div>
            <div class="user__age">
              <mat-form-field>
                <input
                  [disabled]="true"
                  [ngModel]="userForm.get('age').value"
                  matInput
                  tabindex="-1"
                  name="t_age"
                  placeholder="{{ demo1.age }}"
                />
              </mat-form-field>
              <span class="user__age--disabled">Years</span>
            </div>
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="userForm.get('age').touched && !userForm.get('age').valid"
          >
            <br />
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="!userForm.get('date').valid && userForm.get('date').touched"
          >
            <br />
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="!userForm.get('month').valid && userForm.get('month').touched"
          >
            <br />
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="!userForm.get('year').valid && userForm.get('year').touched"
          >
            <br />
          </div>
          <div
            class="mat-error ng-star-inserted user__dob__error"
            *ngIf="userForm.get('dob').touched && userForm.get('dob').errors['incorrect']"
          >
            <br />
          </div>

          <div class="user__gender">
            Gender
            <mat-button-toggle-group
              [disabled]="true"
              appearance="legacy"
              aria-label="Font Style"
              [ngModel]="userForm.get('gender').value"
              name="t_gender"
            >
              <mat-button-toggle value="male">Male</mat-button-toggle>
              <mat-button-toggle value="female">Female</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div
            class="mat-error ng-star-inserted user__gender__error"
            *ngIf="userForm.get('gender').touched && userForm.get('gender').invalid"
          >
            <br />
          </div>

          <mat-form-field>
            <input
              matInput
              #t_addressLine1
              maxlength="50"
              placeholder="{{ demo1.addressLine1 }}"
              ngModel
              name="t_addressLine1"
              (focusout)="noWhitespaceValidatorHTML(transForm.controls.t_addressLine1)"
            />
            <mat-hint align="end">{{ t_addressLine1.value.length }} / 50</mat-hint>
            <mat-error *ngIf="!addressLine1.invalid">Address Line 1 is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #t_addressLine2
              maxlength="50"
              placeholder="{{ demo1.addressLine2 }}"
              ngModel
              name="t_addressLine2"
            />
            <mat-hint align="end">{{ t_addressLine2.value.length }} / 50</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              #t_addressLine3
              maxlength="50"
              placeholder="{{ demo1.addressLine3 }}"
              ngModel
              name="t_addressLine3"
            />
            <mat-hint align="end">{{ t_addressLine3.value.length }} / 50</mat-hint>
          </mat-form-field>

          <div class="user__dropdown">
            <mat-form-field>
              <mat-select
                name="t_region"
                [ngModel]="userForm.get('region').value"
                [disabled]="true"
                placeholder="{{ demo1.region }}"
              >
                <mat-option value="option">Region1</mat-option>
                <mat-option value="option2">Region2</mat-option>
                <mat-option value="option3">Region3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="user__dropdown">
            <mat-form-field>
              <mat-select
                [disabled]="true"
                placeholder="{{ demo1.province }}"
                [ngModel]="userForm.get('province').value"
                name="t_province"
              >
                <mat-option value="option1">Province1</mat-option>
                <mat-option value="option2">Province2</mat-option>
                <mat-option value="option3">Province3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <mat-select
                [disabled]="true"
                placeholder="{{ demo1.city }}"
                [ngModel]="userForm.get('city').value"
                name="t_city"
              >
                <mat-option value="option1">City1</mat-option>
                <mat-option value="option2">City2</mat-option>
                <mat-option value="option3">City3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <mat-select
                [disabled]="true"
                placeholder="{{ demo1.localAdministrativeAuthority }}"
                [ngModel]="userForm.get('localAdministrativeAuthority').value"
                name="t_localAdministrativeAuthority"
              >
                <mat-option value="option1">LAA1</mat-option>
                <mat-option value="option2">LAA2</mat-option>
                <mat-option value="option3">LAA3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ demo1.postalCode }}"
                [disabled]="true"
                [ngModel]="userForm.get('postalCode').value"
                name="t_postalCode"
              />
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ demo1.mobileNumber }}"
                [ngModel]="userForm.get('mobilePhone').value"
                [disabled]="true"
                name="t_mobilePhone"
              />
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input
                [disabled]="true"
                matInput
                placeholder="{{ demo1.emailId }}"
                [ngModel]="userForm.get('email').value"
                name="t_email"
              />
            </mat-form-field>
          </div>
          <div class="user__dropdown">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ demo1.CNEOrPINNumber }}"
                [ngModel]="userForm.get('pin').value"
                [disabled]="true"
                name="t_pin"
              />
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="user__buttons">
    <button class="user__btn" type="button" (click)="onBack()" [disabled]="this.isNewApplicant">Back</button>
    <button class="user__btn" type="button" [disabled]="!dataUploadComplete || !userForm.valid" (click)="onSubmit()">
      <!-- <div *ngIf="dataUploadComplete">Continue</div>
      <div *ngIf="!dataUploadComplete" class="pgbar">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div> -->Continue
    </button>
  </div>
</div>
