* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacing {
  margin-top: 20%;
}

.error {
  font-size: 13px;
  color: red;
  margin-top: -10px;
}

.form_wrapper {
  margin: 4% 0%;
  line-height: 2.8rem;
  height: 66vh;
}

.form_fields_padding {
  margin: 30px auto;
  width: 38vw;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.subHeading {
  font-size: 1.5rem;
  text-align: center;
}

mat-form-field {
  width: 100%;
  height: 100%;
}

.pinkBg {
  background-color: #fe528d;
}

.whiteText {
  color: white;
}

.boldText {
  font-weight: 700;
}

.pinkText {
  color: #fe528d;
}

button {
  width: 100%;
}

#timer {
  text-align: center;
  padding: 8px;
  visibility: hidden;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: lightgrey;
  border-bottom: 2px solid #22a8c9;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

@media (max-width: 500px) {
  .form_fields_padding {
    margin-left: 16%;
  }
}
