<div class="wrapper">

  <div class="form_wrapper">
    <div class="heading">
      <p>{{ 'HELLO' | translate }}</p>
      <span>Quick & Easy steps</span>
    </div>

    <div class="subHeading pinkText">
      To enroll <span class="boldText">Unique Identification Number</span>
    </div>

    <div class="form_fields_wrapper">
      <div>
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="changeLanguage()" placeholder="Select your language">
            <mat-option *ngFor="let lang of languages" [value]="lang">{{lang}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="showContactDetails">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="inputContactDetails" placeholder="{{inputPlaceholderContact}}" id="inputFieldContact" />
        </mat-form-field>
      </div>

      <div *ngIf="showOTP">
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="inputOTP" placeholder="{{inputPlaceholderOTP}}" id="inputFieldOTP" (input)="showVerifyBtn()" />
        </mat-form-field>
      </div>

      <div *ngIf="showSendOTP">
        <button mat-raised-button class="pinkBg whiteText boldText"
        disabled="{{disableBtn}}" (click)="submit()">Send OTP</button>
      </div>

      <div *ngIf="showVerify">
        <button mat-raised-button class="pinkBg whiteText boldText"
        disabled="{{disableBtn}}" (click)="submit()">Verify</button>
      </div>

      <div *ngIf="showResend">
        <button mat-raised-button class="pinkBg whiteText boldText"
        disabled="{{disableBtn}}" (click)="submit()">Resend</button>
      </div>

      <div class="pinkText boldText" id="timer">
        <span id="minutesSpan">02</span>:<span id="secondsSpan">00</span>
      </div>
    </div>
  </div>

</div>