<div class="reset-password-container">
  <mat-card class="reset-password-card">
      <div *ngIf="active">
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
    <mat-card-title>
      <div class="reset-password-title"><span>Reset Password</span></div>
      <mat-divider [inset]="true"></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <div class="password-rules">
        <div>Use of both upper and lower case characters atleast once <span *ngIf="resetPasswordForm.valid"><i class="material-icons md-18" >done</i></span></div>
        <div>Use of special character atleast once such as #?!@$%^&*- <span *ngIf="resetPasswordForm.valid"><i class="material-icons md-18" >done</i></span></div>
        <div>Use of atleast one numeric digit<span *ngIf="resetPasswordForm.valid"><i class="material-icons md-18" >done</i></span></div>
        <div>Minimum character length should be 8<span *ngIf="resetPasswordForm.valid"><i class="material-icons md-18" >done</i></span></div>
      </div>
        <form [formGroup]="resetPasswordForm" class="reset-password-form" (ngSubmit)="onSave()">
            <div class="password-input">
                <mat-form-field class="input-full-width">
                    <input type="password" formControlName="password" matInput placeholder="Password"/>
                  </mat-form-field>
            </div>
            <div class="comfirm-password-input"> 
              <mat-form-field class="input-full-width">
                  <input type="password" formControlName="confirmPassword" matInput placeholder="Retype Password" />
                </mat-form-field>
              </div>
              <div *ngIf="resetPasswordForm.errors?.misMatch" class="comfirm-password-validation"> 
                  <div>Password and Confirm Password should be same</div>       
              </div>
              <div *ngIf="errorMessage">{{errorMessage}}</div>
              <div class="button-container">
                  <button [disabled]="!resetPasswordForm.valid" type="submit" mat-raised-button class="save-button">
                    Save
                  </button>
                </div>
        </form>
      </mat-card-content>
  </mat-card>
</div>