<mat-accordion class="example-headers-align" *ngFor="let applicant of applicants;let applicantIndex = index">
  <mat-expansion-panel [expanded]="step === applicant.seq" (opened)="setStep(applicant)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Document upload
      </mat-panel-title>
      <mat-panel-description>
        {{applicant.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="3" rowHeight="4em">
      <mat-grid-tile [colspan]="1" [rowspan]="3">
        <div class="draggableDiv" appDraggable (filesChangeEmiter)="handleFileInput($event)">
          <div class="text-wrapper">
            <div class="centered">Drop your file here!</div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="4">
        <div class="docsContainer">
          <mat-form-field *ngFor="let docs of LOD; let i = index">
            <mat-select id="{{docs.document_name}}" placeholder="{{docs.document_name}}" (selectionChange)="selectChange($event, i)"
              (openedChange)="openedChange($event,i)">
              <mat-option *ngIf="applicantIndex > 0 && docs.document_name == 'POA'" value="Same as Primary">
                Same as Primary
              </mat-option>
              <mat-option *ngFor="let option of docs.valid_docs" value="{{option.value}}">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="4">
        <div class="docsContainer">
          <p class="fileName" *ngFor="let file of applicant.files; let fileIndex = index ">
            {{file.name}}<span *ngIf="file.name" class="cross" (click)="removeFile(applicantIndex,fileIndex)"> X</span>
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <input type="file" id="file" (change)="handleFileInput($event)" style="display: none;">
        <input class="browseInput" value="{{browseDisabled? 'Select Document Type':'Browse'}}" type="button" onclick="document.getElementById('file').click();"
          [disabled]="browseDisabled" />
      </mat-grid-tile>
    </mat-grid-list>
    <mat-action-row>
      <button *ngIf="applicant.seq !== 1 " mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!--<embed src="{{uploadedFile}}" width="100px" height="100px" />-->