name: IDA Auth Service Manual trigger for maven install

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      NAMESPACE: ${{ secrets.dev_namespace_docker_hub }}
      SERVICE_NAME: authentication-service
      SERVICE_LOCATION: authentication/authentication-service

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          ref: ${{ github.ref }}
          java-version: 11
          distribution: adopt
          server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file
      - name: Setup branch and env
        run: |
          # Strip git ref prefix from version
          echo "BRANCH_NAME=$(echo ${{ github.ref }} | sed -e 's,.*/\(.*\),\1,')" >> $GITHUB_ENV
          echo "GPG_TTY=$(tty)" >> $GITHUB_ENV

      - name: Setup branch and GPG public key
        run: |
          # Strip git ref prefix from version
          echo ${{ env.BRANCH_NAME }}
          echo ${{ env.GPG_TTY }}
          sudo apt-get --yes install gnupg2
      #        gpg2 --import ./.github/keys/mosipgpgkey_pub.gpg
      #        gpg2 --quiet --batch --passphrase=${{secrets.gpg_secret}}  --allow-secret-key-import --import ./.github/keys/mosipgpgkey_sec.gpg

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-${{ env.BRANCH_NAME }}

      - name: Install xmllint
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils

      - name: Setup the settings file for ossrh server
        run: echo "<settings>   <servers>      <server>        <id>ossrh</id>          <username>${{secrets.ossrh_user}}</username>          <password>${{secrets.ossrh_secret}}</password>       </server>    </servers>    <profiles>       <profile>          <id>ossrh</id>          <activation>             <activeByDefault>true</activeByDefault>          </activation>          <properties>             <gpg.executable>gpg2</gpg.executable>             <gpg.passphrase>${{secrets.gpg_secret}}</gpg.passphrase>          </properties>       </profile>       <profile>          <id>allow-snapshots</id>          <activation>             <activeByDefault>true</activeByDefault>          </activation>          <repositories>             <repository>                <id>snapshots-repo</id>                <url>https://oss.sonatype.org/content/repositories/snapshots</url>                <releases>                   <enabled>false</enabled>                </releases>                <snapshots>                   <enabled>true</enabled>                </snapshots>             </repository>             <repository>                <id>releases-repo</id>                <url>https://oss.sonatype.org/service/local/staging/deploy/maven2</url>                <releases>                   <enabled>true</enabled>                </releases>                <snapshots>                   <enabled>false</enabled>                </snapshots>             </repository>             <repository>                <id>danubetech-maven-public</id>                <url>https://repo.danubetech.com/repository/maven-public</url>             </repository>          </repositories>       </profile>       <profile>          <id>sonar</id>          <properties>             <sonar.sources>.</sonar.sources>             <sonar.host.url>https://sonarcloud.io</sonar.host.url>          </properties>          <activation>             <activeByDefault>false</activeByDefault>          </activation>       </profile>    </profiles> </settings>" > $GITHUB_WORKSPACE/settings.xml

      - name: Build with Maven
        run: |
          cd authentication
          mvn clean install -U -s $GITHUB_WORKSPACE/settings.xml -DskipTests -Dgpg.skip=true --file pom.xml

      - name: Removing target jars
        run: |
          rm -rf $(find -name '*.jar' ! -executable -type f)

      - name: ida Build image
        run: |
          cd "./${{env.SERVICE_LOCATION}}"
          docker build . --file Dockerfile --tag ${{ env.SERVICE_NAME }}

      - name: ida Log into registry
        run: echo "${{ secrets.release_docker_hub }}" | docker login -u ${{ secrets.actor_docker_hub }} --password-stdin

      - name: ida Push image
        run: |
          IMAGE_ID=$NAMESPACE/$SERVICE_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          echo "push version ${{steps.getPomVersion.outputs.info}}"
          VERSION=$BRANCH_NAME
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $SERVICE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION