<app-header></app-header>
<div class="parent">
  <mat-card class="cardstyle">
    <mat-card-actions>
      <div>
        <mat-card-header>
          <mat-card-title>OTP has been sent to your {{currentLoginType}} ending with {{selectedValue}}.
            <br> Entered Wrong {{currentLoginType}}? To change your {{currentLoginType}}
            <a routerLink="/login">Click here</a>.
          </mat-card-title>
        </mat-card-header>
      </div>
      <div style="text-align: center;">
        <span>Enter Your OTP</span>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="otpValue" id="otp" name="otp" required/>
      </div>

      <div > 
        <div class="but">
          <button mat-raised-button color="primary" (click)="validateOTP()">ValidateOTP</button>
        </div>
        <div class="but">
          <button mat-raised-button color="primary" class="resend" (click)="generateOTP()">ResendOTP</button>
        </div>

      </div>
    </mat-card-actions>

  </mat-card>
</div>